## DataFrame
> ÌåêÎã§Ïä§Î•º ÏÇ¨Ïö©ÌïòÎäî Î™©Ï†Å : ÏÑúÎ°ú Îã§Î•∏ Ïó¨Îü¨ Í∞ÄÏßÄ Ïú†ÌòïÏùò Îç∞Ïù¥ÌÑ∞Î•º **Í≥µÌÜµÏùò Ìè¨Îß∑**ÏúºÎ°ú Ï†ïÎ¶¨ÌïòÎäî Í≤ÉÏúºÎ°ú, **ÏãúÎ¶¨Ï¶à**(1Ï∞®ÏõêÎ≤°ÌÑ∞)ÏôÄ **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ**(2Ï∞®ÏõêÎ≤°ÌÑ∞, ÌñâÎ†¨)Ïù¥ÎùºÎäî Íµ¨Ï°∞ÌôîÎêú Îç∞Ïù¥ÌÑ∞ ÌòïÏãùÏùÑ Ï†úÍ≥µ.
- ÌåêÎã§Ïä§Ïùò 1Ï∞®Ï†ÅÏù∏ Î™©Ï†ÅÏùÄ ÏÑúÎ°ú Îã§Î•∏ Ïó¨Îü¨ Í∞ÄÏßÄ Ïú†ÌòïÏùò Îç∞Ïù¥ÌÑ∞Î•º Í≥µÌÜµÏùò Ìè¨Îß∑ÏúºÎ°ú Ï†ïÎ¶¨ÌïòÎäî Í≤É
- 2Ï∞®Ïõê Íµ¨Ï°∞(r, c)Ïùò data frameÏùÄ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ïã§Î¨¥ÏóêÏÑú ÏûêÏ£º ÏÇ¨Ïö©
- 2Ï∞®Ïõê Î∞∞Ïó¥Íµ¨Ï°∞Îäî ÏóëÏÖÄÏù¥ÎÇò Í¥ÄÍ≥ÑÌòï Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Îì± Îã§ÏñëÌïú Î∂ÑÏïºÏóêÏÑú ÏÇ¨Ïö©ÎêòÎØÄÎ°ú Î≥ÄÌôòÏù¥ Ïú†Ïö©
- Ïó¨Îü¨ Í∞úÏùò ÏãúÎ¶¨Ï¶àÎì§Ïù¥ Î™®Ïó¨ÏÑú Íµ¨ÏÑ±ÎêòÍ≥† Îç∞Ïù¥ÌÑ∞Ïùò Ïó¥ÏùÄ ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Ïù¥Îã§. ÏãúÎ¶¨Ï¶àÎì§Ïù¥ Î™®Ïó¨ ÌñâÎ†¨(matrix)Í∞Ä ÎêúÎã§Í≥† Ìï† Ïàò ÏûàÎã§
- ÌñâÍ≥º Ïó¥ÏùÄ Îã§ÏñëÌïòÍ≤å Î∂àÎ¶º. (Ï∞∏Í≥†) `Ìñâ - row, Î†àÏΩîÎìú(record), Í¥ÄÏ∏°Í∞í(observation)`, `Ïó¥ - column, Í≥µÌÜµÏùò ÏÜçÏÑ±ÏùÑ Í∞ñÎäî ÏùºÎ†®Ïùò Îç∞Ïù¥ÌÑ∞, ÏÜçÏÑ±, Î≤îÏ£º, Î≥ÄÏàò(variable)`

'''
 **Îç∞Ïù¥ÌÑ∞Ï†ïÎ¶¨**Î•º ÏúÑÌï¥ ÏóëÏÖÄ(.xlsx)Í≥º Í∞ôÏù¥, pythonÏùò ÌåêÎã§Ïä§Î°ú ÏûêÎ£åÏ†ïÎ¶¨.
Python list, DictionaryÎ°ú Îêú Í≤ÉÏùÑ ÏóëÏÖÄÍ≥º Í∞ôÏù¥ Ìëú ÌòïÏãùÏúºÎ°ú ÎßåÎìúÎäî Í≤ÉÏù¥ **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ**ÏúºÎ°ú Î≥ÄÌôòÌïòÎäî Í≤É.
'''

**CRUDüòé DataFrame ver.**

### CREATE
**Ï£ºÏùò** : Series Î≥ÄÍ≤Ω Ïãú Î∞òÎìúÏãú ÎπÑÍµêÌï¥ÏÑú ÏïîÍ∏∞
- Dict ‚Üí DataFrame
- List ‚Üí DataFrame

#### Dictionary ‚Üí DataFrame
> Series : Key ‚Üí index

> DataFrame : Key ‚Üí column & Index ‚Üí number

In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
Îã§Ïùå ÎîïÏÖîÎÑàÎ¶¨Î•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÏûê
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
'''
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [3]:
'''
ÏúÑÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏïÑÎûòÏùò Í≤∞Í≥ºÍ∞íÏù¥ ÎÇòÏò§ÎèÑÎ°ù Î≥ÄÍ≤ΩÌïúÎã§.

     c0  c1  c2  c3  c4
ÌïòÎÇò  1   4   7  10  13
Îëò    2   5   8  11  14
ÏÖã    3   6   9  12  15
'''
df.index = ['ÌïòÎÇò', 'Îëò', 'ÏÖã']
print(type(df), "\n")
print(df)

<class 'pandas.core.frame.DataFrame'>

    c0  c1  c2  c3  c4
ÌïòÎÇò   1   4   7  10  13
Îëò    2   5   8  11  14
ÏÖã    3   6   9  12  15

#### List ‚Üí DataFrame
> Series : Key ‚Üí index (Ìñâ)

> DataFrame : Key ‚Üí column (Ïó¥)

In [4]:
'''
pandas.DataFrame(2Ï∞®Ïõê Î∞∞Ïó¥, index=Ìñâ Ïù∏Îç±Ïä§ Î∞∞Ïó¥, columns=Ïó¥ Ïù¥Î¶Ñ Î∞∞Ïó¥)

ÏïÑÎûòÏùò Í≤∞Í≥º Í∞íÏù¥ ÎÇòÏò§ÎèÑÎ°ù ÎßåÎì§Ïûê
1.
    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

2.
Index(['ÏßÑÌòÑ', 'ÎØºÏßÄ'], dtype='object')

3.
Index(['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'], dtype='object')
'''
df = pd.DataFrame([[18, 'ÎÇ®','ÍπÄÏ≤úÍ≥†'], [19, 'Ïó¨', 'Ïö∏ÏÇ∞Í≥†']],
                 index=['ÏßÑÌòÑ', 'ÎØºÏßÄ'],
                 columns=['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'])
print(df)
print()

print(df.index)
print(df.columns) # vs values

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

Index(['ÏßÑÌòÑ', 'ÎØºÏßÄ'], dtype='object')
Index(['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'], dtype='object')

#### Ïó¥/Ìñâ Ï∂îÍ∞Ä
- Ïó¥ Ï∂îÍ∞ÄÎäî ÎîïÏÖîÎÑàÎ¶¨ÏôÄ ÎπÑÏä∑
- Ìñâ Ï∂îÍ∞ÄÎäî locÎ•º Ïù¥Ïö©Ìï¥ÏÑú Ï∂îÍ∞Ä. Ïù¥ Îïå Í∞íÏùÑ ÌïòÎÇòÎßå ÎÑ£Ïñ¥ÎèÑ Ï†ÑÏ≤¥Í∞Ä Ï±ÑÏõåÏßê.

In [5]:
'''
ÏïÑÎûòÏùò ÏòàÎ•º Ï∞∏Í≥†ÌïòÏó¨ ÏûêÏú†Î°≠Í≤å Ïó¥ Ï∂îÍ∞ÄÎ•º Ìï¥Î≥¥Ïûê
'''
exam_data = {'ÏàòÌïô':[100, 40, 70], 'ÏòÅÏñ¥': [50, 70, 90], 'ÏÉùÎ¨º': [50, 90, 70]}
df = pd.DataFrame(exam_data, index=['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†'])
print(df, "\n")

df.loc['ÏßÑÌòÑ', :] = [11, 22, 333]
print(df, "\n")

df.loc[:, 'ÌôîÌïô'] = 0 # ÌïòÎÇòÎßå ÎÑ£Ïñ¥ÎèÑ ÎêúÎã§Î©∞? -> [0, 0, 0]
print(df)

     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
ÎØºÏßÄ   40  70  90
ÏÑ±Ï≤†   70  90  70

    ÏàòÌïô  ÏòÅÏñ¥   ÏÉùÎ¨º
ÏßÑÌòÑ  11  22  333
ÎØºÏßÄ  40  70   90
ÏÑ±Ï≤†  70  90   70

    ÏàòÌïô  ÏòÅÏñ¥   ÏÉùÎ¨º  ÌôîÌïô
ÏßÑÌòÑ  11  22  333   0
ÎØºÏßÄ  40  70   90   0
ÏÑ±Ï≤†  70  90   70   0

In [6]:
'''
ÏïÑÎûòÏùò ÏòàÎ•º Ï∞∏Í≥†ÌïòÏó¨ ÏûêÏú†Î°≠Í≤å Ïó¥/Ìñâ Ï∂îÍ∞ÄÎ•º Ïã§ÏäµÌï¥ Î≥¥Ïûê.
'''
### Ïó¥Ï∂îÍ∞Ä
exam_data = {'Ïù¥Î¶Ñ': ['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†', 'ÏßÄÏÇ∞'], 'ÏàòÌïô':[100, 40, 70, 30], 'ÏòÅÏñ¥': [50, 70, 90, 80], 'ÏÉùÎ¨º': [50, 90, 70, 18], 'ÎèÑÎçï': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data)
df

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï
0  ÏßÑÌòÑ  100  50  50  88
1  ÎØºÏßÄ   40  70  90  68
2  ÏÑ±Ï≤†   70  90  70  58
3  ÏßÄÏÇ∞   30  80  18  77

In [7]:
df['Íµ≠Ïñ¥'] = 80
print(df)
print()

df['Íµ≠ÏÇ¨'] = [100, 98, 100, 97] 
df

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥
0  ÏßÑÌòÑ  100  50  50  88  80
1  ÎØºÏßÄ   40  70  90  68  80
2  ÏÑ±Ï≤†   70  90  70  58  80
3  ÏßÄÏÇ∞   30  80  18  77  80

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨
0  ÏßÑÌòÑ  100  50  50  88  80  100
1  ÎØºÏßÄ   40  70  90  68  80   98
2  ÏÑ±Ï≤†   70  90  70  58  80  100
3  ÏßÄÏÇ∞   30  80  18  77  80   97

In [8]:
df.loc[:,'AI'] = [10, 20, 30, 40]
df

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨  AI
0  ÏßÑÌòÑ  100  50  50  88  80  100  10
1  ÎØºÏßÄ   40  70  90  68  80   98  20
2  ÏÑ±Ï≤†   70  90  70  58  80  100  30
3  ÏßÄÏÇ∞   30  80  18  77  80   97  40

In [9]:
df.loc[1, :] # df.loc['ÎØºÏßÄ', :]  KeyError: 'ÎØºÏßÄ'

Ïù¥Î¶Ñ    ÎØºÏßÄ
ÏàòÌïô    40
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
ÎèÑÎçï    68
Íµ≠Ïñ¥    80
Íµ≠ÏÇ¨    98
AI    20
Name: 1, dtype: object

In [10]:
print(df.iloc[1:])
print(df.iloc[:1])
print(df.iloc[[2, 1]]) # ÎëêÍ∞ú ÎΩëÏùÄÍ±∞

   Ïù¥Î¶Ñ  ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨  AI
1  ÎØºÏßÄ  40  70  90  68  80   98  20
2  ÏÑ±Ï≤†  70  90  70  58  80  100  30
3  ÏßÄÏÇ∞  30  80  18  77  80   97  40
   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨  AI
0  ÏßÑÌòÑ  100  50  50  88  80  100  10
   Ïù¥Î¶Ñ  ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨  AI
2  ÏÑ±Ï≤†  70  90  70  58  80  100  30
1  ÎØºÏßÄ  40  70  90  68  80   98  20

In [11]:
### ÌñâÏ∂îÍ∞Ä
df.loc[1] = ['ÌïòÎÇò', 1, 2, 3, 4, 5, 6, 7]
df

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï  Íµ≠Ïñ¥   Íµ≠ÏÇ¨  AI
0  ÏßÑÌòÑ  100  50  50  88  80  100  10
1  ÌïòÎÇò    1   2   3   4   5    6   7
2  ÏÑ±Ï≤†   70  90  70  58  80  100  30
3  ÏßÄÏÇ∞   30  80  18  77  80   97  40

In [12]:
df.loc[4] = 100
df

    Ïù¥Î¶Ñ   ÏàòÌïô   ÏòÅÏñ¥   ÏÉùÎ¨º   ÎèÑÎçï   Íµ≠Ïñ¥   Íµ≠ÏÇ¨   AI
0   ÏßÑÌòÑ  100   50   50   88   80  100   10
1   ÌïòÎÇò    1    2    3    4    5    6    7
2   ÏÑ±Ï≤†   70   90   70   58   80  100   30
3   ÏßÄÏÇ∞   30   80   18   77   80   97   40
4  100  100  100  100  100  100  100  100

In [13]:
df.loc[5, :] = 200
df

    Ïù¥Î¶Ñ     ÏàòÌïô     ÏòÅÏñ¥     ÏÉùÎ¨º     ÎèÑÎçï     Íµ≠Ïñ¥     Íµ≠ÏÇ¨     AI
0   ÏßÑÌòÑ  100.0   50.0   50.0   88.0   80.0  100.0   10.0
1   ÌïòÎÇò    1.0    2.0    3.0    4.0    5.0    6.0    7.0
2   ÏÑ±Ï≤†   70.0   90.0   70.0   58.0   80.0  100.0   30.0
3   ÏßÄÏÇ∞   30.0   80.0   18.0   77.0   80.0   97.0   40.0
4  100  100.0  100.0  100.0  100.0  100.0  100.0  100.0
5  200  200.0  200.0  200.0  200.0  200.0  200.0  200.0

### READ

#### Ìñâ ÏÑ†ÌÉù (loc, iloc)
- loc : *Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ*ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÌñâÏùÑ ÏÑ†ÌÉù
- iloc : *Ï†ïÏàòÌòï ÏúÑÏπò Ïù∏Îç±Ïä§*Î•º Í∏∞Ï§ÄÏúºÎ°ú ÌñâÏùÑ ÏÑ†ÌÉù
- 2Í∞ú Ïù¥ÏÉÅÏùò Ìñâ Ïù∏Îç±Ïä§Î•º Ï∂îÏ∂úÌïòÎ†§Î©¥ Î¶¨Ïä§Ìä∏Î°ú ÎÑ£Ïñ¥ÏÑú ÎΩëÍ∏∞
- **Slicing** ‚Üí locÏôÄ ilocÏùò Ï∞®Ïù¥ / pythonÍ≥ºÏùò Ï∞®Ïù¥

In [14]:
'''
exam_data = {'ÏàòÌïô':[100, 40, 70], 'ÏòÅÏñ¥': [50, 70, 90], 'ÏÉùÎ¨º': [50, 90, 70]}

1. ÏúÑÏùò ÎîïÏÖîÎÑàÎ¶¨Î•º Ïù¥Ïö©ÌïòÏó¨ ÏïÑÎûòÏùò Í≤∞Í≥ºÍ∞íÏùÑ ÎßåÎìúÏãúÏò§
     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
ÎØºÏßÄ   40  70  90
ÏÑ±Ï≤†   70  90  70

2. ÎßåÎì† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú ÏïÑÎûòÏùò ÏãúÎ¶¨Ï¶àÎ•º ÎΩëÏúºÏãúÏò§ (loc, iloc Í∞ÅÍ∞Å ÏÇ¨Ïö©)
ÏàòÌïô    40
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64
'''

exam_data = {'ÏàòÌïô':[100, 40, 70], 'ÏòÅÏñ¥': [50, 70, 90], 'ÏÉùÎ¨º': [50, 90, 70]}
df = pd.DataFrame(exam_data, index=['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†'])
print(df)
print()

print(df.loc['ÎØºÏßÄ'])
print(df.iloc[1])

     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
ÎØºÏßÄ   40  70  90
ÏÑ±Ï≤†   70  90  70

ÏàòÌïô    40
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64
ÏàòÌïô    40
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64

In [15]:
'''
ÏïÑÎûòÏùò printÎ¨∏ÏùÑ ÌïòÎÇòÏî© Ïã§ÌñâÌïòÎ≥¥Í≥†
Ïä¨ÎùºÏù¥Ïã± Ïãú locÏôÄ ilocÏùò Ï∞®Ïù¥Î•º ÏÑúÏà†ÌïòÏãúÏò§
'''
print(df.loc[:'ÎØºÏßÄ'])
print(df.loc['ÎØºÏßÄ':])
print(df.loc[['ÏßÑÌòÑ', 'ÏÑ±Ï≤†']])
print()

print(df.iloc[1:])
print(df.iloc[:1])
print(df.iloc[[2, 1]])

     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
ÎØºÏßÄ   40  70  90
    ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÎØºÏßÄ  40  70  90
ÏÑ±Ï≤†  70  90  70
     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
ÏÑ±Ï≤†   70  90  70

    ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÎØºÏßÄ  40  70  90
ÏÑ±Ï≤†  70  90  70
     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏßÑÌòÑ  100  50  50
    ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
ÏÑ±Ï≤†  70  90  70
ÎØºÏßÄ  40  70  90

#### Ïó¥ ÏÑ†ÌÉù
> ÌñâÍ≥º ÎπÑÍµê
- df.ÏàòÌïô
- df['ÏàòÌïô']
- df[['ÏàòÌïô']]

ÏúÑÏùò 3Í∞ÄÏßÄÏùò Ï∞®Ïù¥Ï†êÏùÑ Ïù¥Ìï¥!!<br>
df.ÏàòÌïôÍ≥º df['ÏàòÌïô']ÏùÄ Í∞ôÏùÄ Í≤∞Í≥ºÍ∞íÏúºÎ°ú **ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥**Î•º ÎèÑÏ∂úÌïúÎã§.<br>
df[['ÏàòÌïô']]Î°ú 2Ï§ë ÎåÄÍ¥ÑÌò∏Î•º ÏÇ¨Ïö©ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÍ∞Ä ÏïÑÎãå **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ**ÏùÑ Î∞òÌôòÌïúÎã§.

In [16]:
'''
ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÌôúÏö©ÌïòÏó¨ Î¨∏Ï†úÎ•º ÌíÄÏñ¥Î≥¥ÏãúÏò§
1. df.loc['ÏàòÌïô']  Í∞Ä ÏóêÎü¨Í∞Ä Î∞úÏÉùÌï®ÏùÑ ÌôïÏù∏ÌïòÏãúÏò§
2. df.loc[:, ['ÏàòÌïô']]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
3. df.iloc[:, 0]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
4. df.ÏàòÌïô  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
5. df["ÏàòÌïô"]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
6. df[["ÏàòÌïô"]]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
7. forÎ¨∏Í≥º print Î¨∏ÏùÑ ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í≤∞Í≥ºÍ∞í 4Ï§ÑÏùÑ ÎßåÎìúÏãúÏò§
100
40
70
30

8. df['ÏàòÌïô', 'ÏòÅÏñ¥'] Í∞Ä ÏóêÎü¨Í∞Ä Î∞úÏÉùÌï®ÏùÑ ÌôïÏù∏ÌïòÏãúÏò§
9. df[['ÏàòÌïô', 'ÏòÅÏñ¥']]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
10. df.loc[:, ['ÏàòÌïô', 'ÏòÅÏñ¥']]  Ïùò Ïã§ÌñâÍ∞íÏùÑ ÏÉùÍ∞Å ÌõÑ ÌôïÏù∏ ÌïòÏãúÏò§
'''

import pandas as pd
exam_data = {'ÏàòÌïô':[100, 40, 70, 30], 'ÏòÅÏñ¥': [50, 70, 90, 80], 'ÏÉùÎ¨º': [50, 90, 70, 18], 'ÎèÑÎçï': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†', 'ÏßÄÏÇ∞'])
df

     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï
ÏßÑÌòÑ  100  50  50  88
ÎØºÏßÄ   40  70  90  68
ÏÑ±Ï≤†   70  90  70  58
ÏßÄÏÇ∞   30  80  18  77

In [17]:
df.loc['ÏàòÌïô'] # keyerror : ÏóÜÎã§Í≥†

KeyError: 'ÏàòÌïô'

In [18]:
df.ÏàòÌïô

ÏßÑÌòÑ    100
ÎØºÏßÄ     40
ÏÑ±Ï≤†     70
ÏßÄÏÇ∞     30
Name: ÏàòÌïô, dtype: int64

In [19]:
df.ÏßÑÌòÑ

AttributeError: 'DataFrame' object has no attribute 'ÏßÑÌòÑ'

In [20]:
print(type(df["ÏàòÌïô"]))
df["ÏàòÌïô"] # sr Î∞òÌôò

<class 'pandas.core.series.Series'>

ÏßÑÌòÑ    100
ÎØºÏßÄ     40
ÏÑ±Ï≤†     70
ÏßÄÏÇ∞     30
Name: ÏàòÌïô, dtype: int64

In [21]:
print(type(df[["ÏàòÌïô"]]))
df[["ÏàòÌïô"]] # df Î∞òÌôò

<class 'pandas.core.frame.DataFrame'>

     ÏàòÌïô
ÏßÑÌòÑ  100
ÎØºÏßÄ   40
ÏÑ±Ï≤†   70
ÏßÄÏÇ∞   30

In [22]:
df.loc[:, ['ÏàòÌïô']] # df

     ÏàòÌïô
ÏßÑÌòÑ  100
ÎØºÏßÄ   40
ÏÑ±Ï≤†   70
ÏßÄÏÇ∞   30

In [23]:
df.iloc[:, 0] # sr

ÏßÑÌòÑ    100
ÎØºÏßÄ     40
ÏÑ±Ï≤†     70
ÏßÄÏÇ∞     30
Name: ÏàòÌïô, dtype: int64

In [24]:
for i in range(len(df)):
    print(df.iloc[i,0])  # iterable : Î∞òÎ≥µ Í∞ÄÎä•Ìïú
# for i in df.ÏàòÌïô:
#     print(i)

100
40
70
30

In [25]:
df['ÏàòÌïô', 'ÏòÅÏñ¥']

KeyError: ('ÏàòÌïô', 'ÏòÅÏñ¥')

In [26]:
df[['ÏàòÌïô', 'ÏòÅÏñ¥']]

     ÏàòÌïô  ÏòÅÏñ¥
ÏßÑÌòÑ  100  50
ÎØºÏßÄ   40  70
ÏÑ±Ï≤†   70  90
ÏßÄÏÇ∞   30  80

In [27]:
df.loc[:, ['ÏàòÌïô', 'ÏòÅÏñ¥']]

     ÏàòÌïô  ÏòÅÏñ¥
ÏßÑÌòÑ  100  50
ÎØºÏßÄ   40  70
ÏÑ±Ï≤†   70  90
ÏßÄÏÇ∞   30  80

### UPDATE
- Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏàòÏ†ïÌïòÎäî Î∞©Î≤ï
1. ÌñâÍ≥º Ïó¥Ïù¥Î¶ÑÏùÑ Î≥ÄÍ≤ΩÌïòÎäî Î∞©Î≤ï
2. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Í∞íÎì§ÏùÑ Î≥ÄÍ≤ΩÌïòÎäî Î∞©Î≤ï

#### INDEX NAME, COLUMNS NAME Î≥ÄÍ≤ΩÌïòÍ∏∞
**df.index**<BR>
**df.columns**

In [28]:
# colÏù¥ ÎßéÍ∏∞ ÎïåÎ¨∏Ïóê rename(ÏùºÎ∂ÄÎ≥ÄÍ≤Ω)Î≥¥Îã® colums Ï†ÑÏ≤¥ Î≥ÄÍ≤Ω / Í∞ÄÎèÖÏÑ±
# ***set_index -> Ï£ºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÏãúÍ∞ÑÏàúÏúºÎ°ú ÌååÏïÖÌï† Îïå ÏÇ¨Ïö©ÌïòÎäîÎìØ
# reset_index(), drop vs set_index
# indexÎäî data(Í∞ùÏ≤¥?)Í∞Ä ÏïÑÎãò

# Îã§Ï§ëÍ≥µÏÇ∞ÏÑ±
# xÎ•º Í∞ÄÏßÄÍ≥† yÎ•º Ï∂îÏ∏°ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê ÏÉÅÍ¥ÄÏÑ± ÎÜíÏïÑÏïº ÌïúÎã§
# x ÎÅºÎ¶¨Îäî ÏÉÅÍ¥ÄÏÑ±Ïù¥ ÎÇÆÏïÑÏïº ÌïúÎã§ -> ÎÜíÏùÑ Í≤ΩÏö∞ Í∞ôÏùÄÍ±∏ ÎëêÎ≤à ÌïôÏäµÏãúÌÇ® Í≤∞Í≥º -> Ïò§Î≤ÑÌîºÌåÖ

In [29]:
df = pd.DataFrame([[18, 'ÎÇ®','ÍπÄÏ≤úÍ≥†'], [19, 'Ïó¨', 'Ïö∏ÏÇ∞Í≥†']],
                 index=['ÏßÑÌòÑ', 'ÎØºÏßÄ'],
                 columns=['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'])
df

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [30]:
df.rename(columns={'ÎÇòÏù¥':'Ïó∞Î†π'})
df.rename(index={'ÏßÑÌòÑ':'ÌïôÏÉù'}, inplace=True)
df

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÌïôÏÉù  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [31]:
'''
ÏúÑÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò Ïù∏Îç±Ïä§ Í∞íÏùÑ Î≥ÄÍ≤ΩÌïòÏó¨ ÏïÑÎûòÏùò Í≤∞Í≥ºÍ∞íÏù¥ ÎÇòÏò§Í≤å ÎßåÎì§Ïûê.

     ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÌïôÏÉù1  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÌïôÏÉù2  19  Ïó¨  Ïö∏ÏÇ∞Í≥†
'''

df.index = ["ÌïôÏÉù1", "ÌïôÏÉù2"]
df

     ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÌïôÏÉù1  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÌïôÏÉù2  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [32]:
'''
ÏúÑÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò Ïù∏Îç±Ïä§ Í∞íÏùÑ Î≥ÄÍ≤ΩÌïòÏó¨ ÏïÑÎûòÏùò Í≤∞Í≥ºÍ∞íÏù¥ ÎÇòÏò§Í≤å ÎßåÎì§Ïûê.

     Ïó∞Î†π ÎÇ®ÎÖÄ   ÏÜåÏÜç
ÌïôÏÉù1  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÌïôÏÉù2  19  Ïó¨  Ïö∏ÏÇ∞Í≥†
'''
df.columns = ["Ïó∞Î†π", "ÎÇ®ÎÖÄ", "ÏÜåÏÜç"]
df

     Ïó∞Î†π ÎÇ®ÎÖÄ   ÏÜåÏÜç
ÌïôÏÉù1  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÌïôÏÉù2  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [33]:
'''
renameÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ ÏïÑÎûòÏùò Í≤∞Í≥º Í∞íÏù¥ ÎÇòÏò§Í≤å ÎßåÎì§Ïûê.

     Ïó∞Î†π ÎÇ®ÎÖÄ   ÏÜåÏÜç
ÌïôÏÉù1  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÌïôÏÉù2  19  Ïó¨  Ïö∏ÏÇ∞Í≥†
'''

df = pd.DataFrame([[18, 'ÎÇ®','ÍπÄÏ≤úÍ≥†'], [19, 'Ïó¨', 'Ïö∏ÏÇ∞Í≥†']],
                 index=['ÏßÑÌòÑ', 'ÎØºÏßÄ'],
                 columns=['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'])
print(df)

df.rename(columns={'ÎÇòÏù¥':'Ïó∞Î†π', 'ÏÑ±Î≥Ñ':'ÎÇ®ÎÖÄ', 'ÌïôÍµê':'ÏÜåÏÜç'}, inplace=True)
df

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

    Ïó∞Î†π ÎÇ®ÎÖÄ   ÏÜåÏÜç
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

- **inplace=True** Î•º ÎÑ£ÏßÄ ÏïäÏúºÎ©¥, ÏõêÎ≥∏ Í∞ùÏ≤¥Î•º ÏßÅÏ†ë ÏàòÏ†ïÌïòÎäî Í≤ÉÏù¥ ÏïÑÎãàÎùº ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Í∞ùÏ≤¥Î•º Î∞òÌôòÌïúÎã§. Îî∞ÎùºÏÑú inplace=TrueÎ•º ÏûäÏßÄÎßêÍ≥† ÎÑ£Ïñ¥Ï§òÏïº Ìï®.<br>
Ïù¥ Î∞©Î≤ïÏùÄ ÏùºÎ∂ÄÎ•º ÏÑ†ÌÉùÌïòÏó¨ Î≥ÄÍ≤ΩÌï† Ïàò ÏûàÎã§Îäî Ïû•Ï†êÏù¥ ÏûàÏßÄÎßå, Í∞ÄÎèÖÏÑ±Ïù¥ Ï¢ãÏßÄ ÏïäÏïÑ Ïûò Ïì∞ÏßÄÎäî ÏïäÏùå.

In [34]:
'''
**Ï§ëÏöî**
df.renameÏùÄ Ïûò Ïì∞ÏßÄ ÏïäÎäîÎã§.
df.columnsÎ°ú Ï£ºÎ°ú Î≥ÄÍ≤ΩÌïúÎã§.
df.indexÎäî ÏÇ¨Ïã§ Î≥ÄÍ≤ΩÌï† ÏùºÏù¥ ÏóÜÎã§. (ex_len(df.index))
'''
df.columns

Index(['Ïó∞Î†π', 'ÎÇ®ÎÖÄ', 'ÏÜåÏÜç'], dtype='object')

#### Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ∏∞
##### set_index()
> ÎîïÏÖîÎÑàÎ¶¨Î°ú Îì§Ïñ¥Ïò® Ïó¥Ï§ëÏóê Í∑∏ Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ≥† Ïã∂ÏùÑ Îïå ‚Üí set_index() Î©îÏÜåÎìúÎ•º Ï†ÅÏö©ÌïòÏó¨ ÏÉàÎ°úÏö¥ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌï† Ïàò ÏûàÎã§. Í∑∏Îü¨Î©¥ ÏßÄÏ†ïÎêú Ïù∏Îç±Ïä§Ïóê ÎçÆÏñ¥Ïì∞Í∏∞Í∞Ä ÎêúÎã§.

In [35]:
'''
set_index()ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ ÏïÑÎûòÏùò Í≤∞Í≥º Í∞íÏù¥ ÎÇòÏò§Í≤å ÎßåÎì§Ïûê.

   ÏòÅÏñ¥ ÏÉùÎ¨º ÎèÑÎçï
ÏàòÌïô             
100  50  50  88
40   70  90  68
70   90  70  58
30   80  18  77
'''
exam_data = {'ÏàòÌïô':[100, 40, 70, 30], 'ÏòÅÏñ¥': [50, 70, 90, 80], 'ÏÉùÎ¨º': [50, 90, 70, 18], 'ÎèÑÎçï': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†', 'ÏßÄÏÇ∞'])
df.set_index('ÏàòÌïô', inplace=True) # == df.set_index(['ÏàòÌïô'])
df

     ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï
ÏàòÌïô
100  50  50  88
40   70  90  68
70   90  70  58
30   80  18  77

##### Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏàòÏ†ïÌïòÍ∏∞
> ÎåÄÎ∂ÄÎ∂Ñ ÏïÑÎûòÏôÄ Í∞ôÏùÄ Î∞©Î≤ïÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏ÏôÄÏÑú indexÎ•º ÏÑ§Ï†ïÌïòÍ≤å ÎêúÎã§.

In [36]:
#data.loc[Ìñâ, Ïó¥]
#data.iloc[Ìñâ, Ïó¥]
'''
ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ ÏïÑÎûòÏùò Í≤∞Í≥º Í∞íÏù¥ ÎÇòÏò§Í≤å ÎßåÎì§Ïûê.
1.
    ÏàòÌïô ÏòÅÏñ¥ ÏÉùÎ¨º ÎèÑÎçï
Ïù¥Î¶Ñ                 
ÏßÑÌòÑ  100  50  50  88
ÎØºÏßÄ   40  70  90  68
ÏÑ±Ï≤†   70  90  70  58
ÏßÄÏÇ∞   30  80  18  77

2. ilocÎ•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64

3. locÏôÄ Ïä¨ÎùºÏù¥Ïã±(:)Î•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
ÎèÑÎçï    68
Name: ÎØºÏßÄ, dtype: int64

4. locÎ•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64
'''


import pandas as pd
import numpy as np
exam_data = {'Ïù¥Î¶Ñ': ['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†', 'ÏßÄÏÇ∞'], 'ÏàòÌïô':[100, 40, 70, 30], 'ÏòÅÏñ¥': [50, 70, 90, 80], 'ÏÉùÎ¨º': [50, 90, 70, 18], 'ÎèÑÎçï': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data)
'''
   Ïù¥Î¶Ñ ÏàòÌïô ÏòÅÏñ¥ ÏÉùÎ¨º ÎèÑÎçï
0  ÏßÑÌòÑ  100  50  50  88
1  ÎØºÏßÄ   40  70  90  68
2  ÏÑ±Ï≤†   70  90  70  58
3  ÏßÄÏÇ∞   30  80  18  77
'''

'\n   Ïù¥Î¶Ñ ÏàòÌïô ÏòÅÏñ¥ ÏÉùÎ¨º ÎèÑÎçï\n0  ÏßÑÌòÑ  100  50  50  88\n1  ÎØºÏßÄ   40  70  90  68\n2  ÏÑ±Ï≤†   70  90  70  58\n3  ÏßÄÏÇ∞   30  80  18  77\n'

- df.iloc**[1, 1]**Í≥º df.iloc**[1][1]**ÏùÄ Í∞ôÏùÄÍ≤∞Í≥ºÍ∞íÏùÑ Ï∂úÎ†•

In [37]:
'''
df.iloc[1, 1]
df.iloc[1][1]
ilocÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ Í∞íÎì§ÏùÑ ÏûêÏú†Î°≠Í≤å ÎΩëÏïÑÎ≥¥Ïûê.
'''
exam_data = {'ÏàòÌïô':[100, 40, 70, 30], 'ÏòÅÏñ¥': [50, 70, 90, 80], 'ÏÉùÎ¨º': [50, 90, 70, 18], 'ÎèÑÎçï': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†', 'ÏßÄÏÇ∞'])
df

     ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º  ÎèÑÎçï
ÏßÑÌòÑ  100  50  50  88
ÎØºÏßÄ   40  70  90  68
ÏÑ±Ï≤†   70  90  70  58
ÏßÄÏÇ∞   30  80  18  77

In [38]:
print(df.iloc[1, 1])
print(df.iloc[1][1])

70
70

In [39]:
df.iloc[1, 1:3]

ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64

In [40]:
df.loc['ÎØºÏßÄ', 'ÏòÅÏñ¥':]

ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
ÎèÑÎçï    68
Name: ÎØºÏßÄ, dtype: int64

In [41]:
df.loc['ÎØºÏßÄ', 'ÏòÅÏñ¥':'ÏÉùÎ¨º']

ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64

In [42]:
df.loc['ÎØºÏßÄ', ['ÏòÅÏñ¥','ÏÉùÎ¨º']]

ÏòÅÏñ¥    70
ÏÉùÎ¨º    90
Name: ÎØºÏßÄ, dtype: int64

In [43]:
df.iloc[-1, -2]

18

#### Ï†ÑÏπò( transpose() )
- Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌñâÍ≥º Ïó¥ÏùÑ ÏÑúÎ°ú ÎßûÎ∞îÍæ∏Îäî Î∞©Î≤ï
- ÏÑ†ÌòïÎåÄÏàòÌïôÏùò Ï†ÑÏπòÌñâÎ†¨Í≥º Í∞ôÏùÄ Í∞úÎÖê
- transpose() Îß§ÏÜåÎìúÎ•º ÌôúÏö©ÌïòÍ±∞ÎÇò df.TÏôÄ Í∞ôÏùÄ ÌÅ¥ÎûòÏä§ ÏÜçÏÑ±ÏùÑ ÌôúÏö©Ìï† ÏàòÎèÑ ÏûàÎã§.
- Îëê Î≤à Ïã§Ìñâ ‚Üí ÏµúÏ¥àÏùò ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎèåÏïÑÏò¥

In [44]:
'''
Ï†ÑÏπòÎ•º ÎëêÎ≤àÌïòÎ©¥ Î≥∏ÎûòÏùò Í∞íÏúºÎ°ú ÎèåÏïÑÏò¥ÏùÑ ÌôïÏù∏ÌïòÏûê.
'''
exam_data = {'Ïù¥Î¶Ñ': ['ÏßÑÌòÑ', 'ÎØºÏßÄ', 'ÏÑ±Ï≤†'], 
             'ÏàòÌïô':[100, 40, 70], 'ÏòÅÏñ¥': [50, 70, 90], 'ÏÉùÎ¨º': [50, 90, 70]}
df = pd.DataFrame(exam_data)
df = df.transpose()
df

      0   1   2
Ïù¥Î¶Ñ   ÏßÑÌòÑ  ÎØºÏßÄ  ÏÑ±Ï≤†
ÏàòÌïô  100  40  70
ÏòÅÏñ¥   50  70  90
ÏÉùÎ¨º   50  90  70

In [45]:
df = df.T
df

   Ïù¥Î¶Ñ   ÏàòÌïô  ÏòÅÏñ¥  ÏÉùÎ¨º
0  ÏßÑÌòÑ  100  50  50
1  ÎØºÏßÄ   40  70  90
2  ÏÑ±Ï≤†   70  90  70

#### ÌñâÏù∏Îç±Ïä§ ÏàòÏ†ï ( reindex() )
- reindex() : ÌñâÏù∏Îç±Ïä§ Ïû¨Î∞∞Ïó¥
- fill_value ÏòµÏÖò : NaNÍ∞íÏù¥ ÏûàÎäî Í≤ΩÏö∞ ÏßÄÏ†ïÍ∞íÏúºÎ°ú Î≥ÄÍ≤Ω
- reset_index() : Ïù∏Îç±Ïä§ Ï¥àÍ∏∞Ìôî ()<br>
'''
df.reset_index()                 : Ï≤òÏùåÏÉÅÌÉúÎ°ú Î≥µÍ∑Ä<br>
df.reset_index(drop=True)        : Ïù∏Îç±Ïä§ ÏÇ≠Ï†ú (ÎØ∏Î≥µÍ∑Ä)
'''

In [46]:
'''
ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÌôúÏö©ÌïòÏó¨ Î¨∏Ï†úÎ•º ÌíÄÏûê
1. reindexÎ•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

2. fill_valueÏòµÏÖòÏùÑ ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

3. ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
   c0  c1  c2  c3  c4
a   1   4   7  10  13
b   2   5   8  11  14
c   3   6   9  12  15
d   0   0   0   0   0
e   0   0   0   0   0

'''


# reindex()
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [47]:
data_index = ['r0', 'r1', 'r2', 'r3', 'r4']
df = df.reindex(data_index)
print(df)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [48]:
df = df.reindex(data_index, fill_value=0)
df

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [49]:
df.index = ['a', 'b', 'c', 'd', 'e']
df.sort_index()

    c0   c1   c2    c3    c4
a  1.0  4.0  7.0  10.0  13.0
b  2.0  5.0  8.0  11.0  14.0
c  3.0  6.0  9.0  12.0  15.0
d  NaN  NaN  NaN   NaN   NaN
e  NaN  NaN  NaN   NaN   NaN

### Ï†ïÎ†¨
> SeriesÏôÄ DataFrameÏùò Ï†ïÎ†¨Ïóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Ïûê. Í∏∞Î≥∏Ï†ÅÏúºÎ°ú Ï†ïÎ†¨ Ìï† Í∏∞Ï§ÄÏù¥ ÏÉâÏù∏Ïù∏ÏßÄ, Í∞ùÏ≤¥Ïù∏ÏßÄÏóê Îî∞Îùº ÏÇ¨Ïö©ÌïòÎäî Î©îÏÑúÎìúÍ∞Ä Îã§Î•¥Îã§.

#### ÏÉâÏù∏ Ï†ïÎ†¨
- rowÎÇò colÏùò ÏÉâÏù∏Ïù∏ Í≤ΩÏö∞Îäî **sort_index** Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïúÎã§. 
- ÎîîÌè¥Ìä∏ Í∞íÏùÄ Ïò§Î¶ÑÏ∞®Ïàú. ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ¶¨ÌïòÎ†§Î©¥ ‚Üí **ascending=False**

In [50]:
'''
ÏïÑÎûòÏùò ÏãúÎ¶¨Ï¶àÎ•º Ïù¥Ïö©ÌïòÏûê.
1. sort_index()Î•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
a    3
b    1
c    2
d    0
dtype: int64

'''
# SeriesÏùò ÏÉâÏù∏ Ï†ïÎ†¨
data = pd.Series(range(4), index=['d', 'b', 'c', 'a'])
data

d    0
b    1
c    2
a    3
dtype: int64

In [51]:
data.sort_index()

a    3
b    1
c    2
d    0
dtype: int64

In [52]:
'''
1. sort_index()Î•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê.
       d  a  b  c
one    4  5  6  7
three  0  1  2  3


2. sort_index()Î•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê.
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
'''

# DataFrame Ï†ïÎ†¨
# axisÎ•º ÌôúÏö©ÌïòÏó¨ Í∏∞Ï§Ä Ï∂ïÏùÑ ÏÑ§Ï†ïÌï† Ïàò ÏûàÎã§.
frame = pd.DataFrame(np.arange(8).reshape(2, 4), 
                    index=['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [53]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [54]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

#### Îç∞Ïù¥ÌÑ∞(Í∞ùÏ≤¥ Í∞í) Ï†ïÎ†¨
> Í∞ùÏ≤¥Ïùò Í∞íÏóê Îî∞Îùº Ï†ïÎ†¨ÏùÑ ÌïòÎ†§Î©¥ **sort_values** Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö© ‚Üí Ïù¥ Îïå Ï†ïÎ†¨ Ïãú Series Í∞ùÏ≤¥ÏóêÏÑú ÎπÑÏñ¥ÏûàÎäî Í∞íÏùÄ Í∏∞Î≥∏Ï†ÅÏúºÎ°ú ÎßàÏßÄÎßâÏóê ÏúÑÏπò Ìï®.

In [55]:
'''
ÏïÑÎûòÏùò ÏãúÎ¶¨Ï¶àÎ•º ÌôúÏö©ÌïúÎã§
1. sort_valuesÎ•º ÌôúÏö©ÌïòÏó¨ ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
4   -1.0
3    3.0
0    4.0
1    9.0
2    NaN
5    NaN
dtype: float64
'''

# SeriesÏùò Í∞ùÏ≤¥ Í∞íÏóê Îî∞Î•∏ Ï†ïÎ†¨
# NaNÏùÄ Í∞ÄÏû• ÎßàÏßÄÎßâÏóê ÏúÑÏπòÌïúÎã§
data = pd.Series([4, 9, np.nan, 3, -1, np.nan])
data.sort_values()

4   -1.0
3    3.0
0    4.0
1    9.0
2    NaN
5    NaN
dtype: float64

In [56]:
'''
ÏïÑÎûòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÇ¨Ïö©ÌïúÎã§.
1. bÎ•º Í∏∞Ï§ÄÏúºÎ°ú ÏïÑÎûòÏùò Í∞íÏùÑ ÎßåÎì§Ïûê
   b  a
2 -3  1
3  2  0
0  4  0
1  7  1

2. ÏïÑÎûòÏôÄ Í∞ôÏù¥ 'a'Î•º Ï†ïÎ†¨Ìïú ÌõÑÏóê 'b'Î•º Ï†ïÎ†¨ÌïúÎã§.
   b  a
1  7  1
2 -3  1
0  4  0
3  2  0
'''

frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 1, 0]})
frame

   b  a
0  4  0
1  7  1
2 -3  1
3  2  0

In [57]:
frame.sort_values(by='b')

   b  a
2 -3  1
3  2  0
0  4  0
1  7  1

In [58]:
frame.sort_values(by=['a', 'b'], ascending=False) #  ascending=False

   b  a
1  7  1
2 -3  1
0  4  0
3  2  0

### DELETE
##### drop() 
> Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ìñâ ÎòêÎäî Ïó¥ÏùÑ ÏÇ≠Ï†úÌïòÎäî Î™ÖÎ†π
- ÌñâÏÇ≠Ï†ú : axis=0(de)
- Ïó¥ÏÇ≠Ï†ú ; axis=1
- Îã§ÏàòÏùò ÌñâÍ≥º Ïó¥ ÏÇ≠Ï†ú Ïãú listÎ°ú ÎÑ£Ïñ¥Ï§ÄÎã§.
- ÏõêÎ≥∏ Í∞ùÏ≤¥ Î≥ÄÍ≤Ω Ïãú inplace = TrueÎ•º Ï∂îÍ∞ÄÌï¥ Ï§ÄÎã§.

In [59]:
df = pd.DataFrame([[18, 'ÎÇ®','ÍπÄÏ≤úÍ≥†'], [19, 'Ïó¨', 'Ïö∏ÏÇ∞Í≥†']],
                 index=['ÏßÑÌòÑ', 'ÎØºÏßÄ'],
                 columns=['ÎÇòÏù¥', 'ÏÑ±Î≥Ñ', 'ÌïôÍµê'])
df

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÏßÑÌòÑ  18  ÎÇ®  ÍπÄÏ≤úÍ≥†
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [60]:
df.drop('ÏßÑÌòÑ', inplace=True) # default : axis=0 # inplace
df

    ÎÇòÏù¥ ÏÑ±Î≥Ñ   ÌïôÍµê
ÎØºÏßÄ  19  Ïó¨  Ïö∏ÏÇ∞Í≥†

In [61]:
df.drop(['ÎÇòÏù¥', 'ÌïôÍµê'], axis=1, inplace=True)
# KeyError: "['ÎÇòÏù¥' 'ÌïôÍµê'] not found in axis"
df

   ÏÑ±Î≥Ñ
ÎØºÏßÄ  Ïó¨