## DataFrame
> íŒë‹¤ìŠ¤ë¥¼ ì‚¬ìš©í•˜ëŠ” ëª©ì  : ì„œë¡œ ë‹¤ë¥¸ ì—¬ëŸ¬ ê°€ì§€ ìœ í˜•ì˜ ë°ì´í„°ë¥¼ **ê³µí†µì˜ í¬ë§·**ìœ¼ë¡œ ì •ë¦¬í•˜ëŠ” ê²ƒìœ¼ë¡œ, **ì‹œë¦¬ì¦ˆ**(1ì°¨ì›ë²¡í„°)ì™€ **ë°ì´í„°í”„ë ˆì„**(2ì°¨ì›ë²¡í„°, í–‰ë ¬)ì´ë¼ëŠ” êµ¬ì¡°í™”ëœ ë°ì´í„° í˜•ì‹ì„ ì œê³µ.
- íŒë‹¤ìŠ¤ì˜ 1ì°¨ì ì¸ ëª©ì ì€ ì„œë¡œ ë‹¤ë¥¸ ì—¬ëŸ¬ ê°€ì§€ ìœ í˜•ì˜ ë°ì´í„°ë¥¼ ê³µí†µì˜ í¬ë§·ìœ¼ë¡œ ì •ë¦¬í•˜ëŠ” ê²ƒ
- 2ì°¨ì› êµ¬ì¡°(r, c)ì˜ data frameì€ ë°ì´í„° ë¶„ì„ ì‹¤ë¬´ì—ì„œ ìì£¼ ì‚¬ìš©
- 2ì°¨ì› ë°°ì—´êµ¬ì¡°ëŠ” ì—‘ì…€ì´ë‚˜ ê´€ê³„í˜• ë°ì´í„°ë² ì´ìŠ¤ ë“± ë‹¤ì–‘í•œ ë¶„ì•¼ì—ì„œ ì‚¬ìš©ë˜ë¯€ë¡œ ë³€í™˜ì´ ìœ ìš©
- ì—¬ëŸ¬ ê°œì˜ ì‹œë¦¬ì¦ˆë“¤ì´ ëª¨ì—¬ì„œ êµ¬ì„±ë˜ê³  ë°ì´í„°ì˜ ì—´ì€ ì‹œë¦¬ì¦ˆ ê°ì²´ì´ë‹¤. ì‹œë¦¬ì¦ˆë“¤ì´ ëª¨ì—¬ í–‰ë ¬(matrix)ê°€ ëœë‹¤ê³  í•  ìˆ˜ ìˆë‹¤
- í–‰ê³¼ ì—´ì€ ë‹¤ì–‘í•˜ê²Œ ë¶ˆë¦¼. (ì°¸ê³ ) `í–‰ - row, ë ˆì½”ë“œ(record), ê´€ì¸¡ê°’(observation)`, `ì—´ - column, ê³µí†µì˜ ì†ì„±ì„ ê°–ëŠ” ì¼ë ¨ì˜ ë°ì´í„°, ì†ì„±, ë²”ì£¼, ë³€ìˆ˜(variable)`

'''
 **ë°ì´í„°ì •ë¦¬**ë¥¼ ìœ„í•´ ì—‘ì…€(.xlsx)ê³¼ ê°™ì´, pythonì˜ íŒë‹¤ìŠ¤ë¡œ ìë£Œì •ë¦¬.
Python list, Dictionaryë¡œ ëœ ê²ƒì„ ì—‘ì…€ê³¼ ê°™ì´ í‘œ í˜•ì‹ìœ¼ë¡œ ë§Œë“œëŠ” ê²ƒì´ **ë°ì´í„°í”„ë ˆì„**ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒ.
'''

**CRUDğŸ˜ DataFrame ver.**

### CREATE
**ì£¼ì˜** : Series ë³€ê²½ ì‹œ ë°˜ë“œì‹œ ë¹„êµí•´ì„œ ì•”ê¸°
- Dict â†’ DataFrame
- List â†’ DataFrame

#### Dictionary â†’ DataFrame
> Series : Key â†’ index

> DataFrame : Key â†’ column & Index â†’ number

In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
ë‹¤ìŒ ë”•ì…”ë„ˆë¦¬ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€ê²½í•˜ì
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
'''
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [3]:
'''
ìœ„ì˜ ë°ì´í„°í”„ë ˆì„ì„ ì•„ë˜ì˜ ê²°ê³¼ê°’ì´ ë‚˜ì˜¤ë„ë¡ ë³€ê²½í•œë‹¤.

     c0  c1  c2  c3  c4
í•˜ë‚˜  1   4   7  10  13
ë‘˜    2   5   8  11  14
ì…‹    3   6   9  12  15
'''
df.index = ['í•˜ë‚˜', 'ë‘˜', 'ì…‹']
print(type(df), "\n")
print(df)

<class 'pandas.core.frame.DataFrame'>

    c0  c1  c2  c3  c4
í•˜ë‚˜   1   4   7  10  13
ë‘˜    2   5   8  11  14
ì…‹    3   6   9  12  15

#### List â†’ DataFrame
> Series : Key â†’ index (í–‰)

> DataFrame : Key â†’ column (ì—´)

In [4]:
'''
pandas.DataFrame(2ì°¨ì› ë°°ì—´, index=í–‰ ì¸ë±ìŠ¤ ë°°ì—´, columns=ì—´ ì´ë¦„ ë°°ì—´)

ì•„ë˜ì˜ ê²°ê³¼ ê°’ì´ ë‚˜ì˜¤ë„ë¡ ë§Œë“¤ì
1.
    ë‚˜ì´ ì„±ë³„   í•™êµ
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³ 
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³ 

2.
Index(['ì§„í˜„', 'ë¯¼ì§€'], dtype='object')

3.
Index(['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'], dtype='object')
'''
df = pd.DataFrame([[18, 'ë‚¨','ê¹€ì²œê³ '], [19, 'ì—¬', 'ìš¸ì‚°ê³ ']],
                 index=['ì§„í˜„', 'ë¯¼ì§€'],
                 columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])
print(df)
print()

print(df.index)
print(df.columns) # vs values

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

Index(['ì§„í˜„', 'ë¯¼ì§€'], dtype='object')
Index(['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'], dtype='object')

#### ì—´/í–‰ ì¶”ê°€
- ì—´ ì¶”ê°€ëŠ” ë”•ì…”ë„ˆë¦¬ì™€ ë¹„ìŠ·
- í–‰ ì¶”ê°€ëŠ” locë¥¼ ì´ìš©í•´ì„œ ì¶”ê°€. ì´ ë•Œ ê°’ì„ í•˜ë‚˜ë§Œ ë„£ì–´ë„ ì „ì²´ê°€ ì±„ì›Œì§.

In [5]:
'''
ì•„ë˜ì˜ ì˜ˆë¥¼ ì°¸ê³ í•˜ì—¬ ììœ ë¡­ê²Œ ì—´ ì¶”ê°€ë¥¼ í•´ë³´ì
'''
exam_data = {'ìˆ˜í•™':[100, 40, 70], 'ì˜ì–´': [50, 70, 90], 'ìƒë¬¼': [50, 90, 70]}
df = pd.DataFrame(exam_data, index=['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² '])
print(df, "\n")

df.loc['ì§„í˜„', :] = [11, 22, 333]
print(df, "\n")

df.loc[:, 'í™”í•™'] = 0 # í•˜ë‚˜ë§Œ ë„£ì–´ë„ ëœë‹¤ë©°? -> [0, 0, 0]
print(df)

     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
ë¯¼ì§€   40  70  90
ì„±ì²    70  90  70

    ìˆ˜í•™  ì˜ì–´   ìƒë¬¼
ì§„í˜„  11  22  333
ë¯¼ì§€  40  70   90
ì„±ì²   70  90   70

    ìˆ˜í•™  ì˜ì–´   ìƒë¬¼  í™”í•™
ì§„í˜„  11  22  333   0
ë¯¼ì§€  40  70   90   0
ì„±ì²   70  90   70   0

In [6]:
'''
ì•„ë˜ì˜ ì˜ˆë¥¼ ì°¸ê³ í•˜ì—¬ ììœ ë¡­ê²Œ ì—´/í–‰ ì¶”ê°€ë¥¼ ì‹¤ìŠµí•´ ë³´ì.
'''
### ì—´ì¶”ê°€
exam_data = {'ì´ë¦„': ['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² ', 'ì§€ì‚°'], 'ìˆ˜í•™':[100, 40, 70, 30], 'ì˜ì–´': [50, 70, 90, 80], 'ìƒë¬¼': [50, 90, 70, 18], 'ë„ë•': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data)
df

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•
0  ì§„í˜„  100  50  50  88
1  ë¯¼ì§€   40  70  90  68
2  ì„±ì²    70  90  70  58
3  ì§€ì‚°   30  80  18  77

In [7]:
df['êµ­ì–´'] = 80
print(df)
print()

df['êµ­ì‚¬'] = [100, 98, 100, 97] 
df

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´
0  ì§„í˜„  100  50  50  88  80
1  ë¯¼ì§€   40  70  90  68  80
2  ì„±ì²    70  90  70  58  80
3  ì§€ì‚°   30  80  18  77  80

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬
0  ì§„í˜„  100  50  50  88  80  100
1  ë¯¼ì§€   40  70  90  68  80   98
2  ì„±ì²    70  90  70  58  80  100
3  ì§€ì‚°   30  80  18  77  80   97

In [8]:
df.loc[:,'AI'] = [10, 20, 30, 40]
df

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬  AI
0  ì§„í˜„  100  50  50  88  80  100  10
1  ë¯¼ì§€   40  70  90  68  80   98  20
2  ì„±ì²    70  90  70  58  80  100  30
3  ì§€ì‚°   30  80  18  77  80   97  40

In [9]:
df.loc[1, :] # df.loc['ë¯¼ì§€', :]  KeyError: 'ë¯¼ì§€'

ì´ë¦„    ë¯¼ì§€
ìˆ˜í•™    40
ì˜ì–´    70
ìƒë¬¼    90
ë„ë•    68
êµ­ì–´    80
êµ­ì‚¬    98
AI    20
Name: 1, dtype: object

In [10]:
print(df.iloc[1:])
print(df.iloc[:1])
print(df.iloc[[2, 1]]) # ë‘ê°œ ë½‘ì€ê±°

   ì´ë¦„  ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬  AI
1  ë¯¼ì§€  40  70  90  68  80   98  20
2  ì„±ì²   70  90  70  58  80  100  30
3  ì§€ì‚°  30  80  18  77  80   97  40
   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬  AI
0  ì§„í˜„  100  50  50  88  80  100  10
   ì´ë¦„  ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬  AI
2  ì„±ì²   70  90  70  58  80  100  30
1  ë¯¼ì§€  40  70  90  68  80   98  20

In [11]:
### í–‰ì¶”ê°€
df.loc[1] = ['í•˜ë‚˜', 1, 2, 3, 4, 5, 6, 7]
df

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•  êµ­ì–´   êµ­ì‚¬  AI
0  ì§„í˜„  100  50  50  88  80  100  10
1  í•˜ë‚˜    1   2   3   4   5    6   7
2  ì„±ì²    70  90  70  58  80  100  30
3  ì§€ì‚°   30  80  18  77  80   97  40

In [12]:
df.loc[4] = 100
df

    ì´ë¦„   ìˆ˜í•™   ì˜ì–´   ìƒë¬¼   ë„ë•   êµ­ì–´   êµ­ì‚¬   AI
0   ì§„í˜„  100   50   50   88   80  100   10
1   í•˜ë‚˜    1    2    3    4    5    6    7
2   ì„±ì²    70   90   70   58   80  100   30
3   ì§€ì‚°   30   80   18   77   80   97   40
4  100  100  100  100  100  100  100  100

In [13]:
df.loc[5, :] = 200
df

    ì´ë¦„     ìˆ˜í•™     ì˜ì–´     ìƒë¬¼     ë„ë•     êµ­ì–´     êµ­ì‚¬     AI
0   ì§„í˜„  100.0   50.0   50.0   88.0   80.0  100.0   10.0
1   í•˜ë‚˜    1.0    2.0    3.0    4.0    5.0    6.0    7.0
2   ì„±ì²    70.0   90.0   70.0   58.0   80.0  100.0   30.0
3   ì§€ì‚°   30.0   80.0   18.0   77.0   80.0   97.0   40.0
4  100  100.0  100.0  100.0  100.0  100.0  100.0  100.0
5  200  200.0  200.0  200.0  200.0  200.0  200.0  200.0

### READ

#### í–‰ ì„ íƒ (loc, iloc)
- loc : *ì¸ë±ìŠ¤ ì´ë¦„*ì„ ê¸°ì¤€ìœ¼ë¡œ í–‰ì„ ì„ íƒ
- iloc : *ì •ìˆ˜í˜• ìœ„ì¹˜ ì¸ë±ìŠ¤*ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–‰ì„ ì„ íƒ
- 2ê°œ ì´ìƒì˜ í–‰ ì¸ë±ìŠ¤ë¥¼ ì¶”ì¶œí•˜ë ¤ë©´ ë¦¬ìŠ¤íŠ¸ë¡œ ë„£ì–´ì„œ ë½‘ê¸°
- **Slicing** â†’ locì™€ ilocì˜ ì°¨ì´ / pythonê³¼ì˜ ì°¨ì´

In [14]:
'''
exam_data = {'ìˆ˜í•™':[100, 40, 70], 'ì˜ì–´': [50, 70, 90], 'ìƒë¬¼': [50, 90, 70]}

1. ìœ„ì˜ ë”•ì…”ë„ˆë¦¬ë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ì˜ ê²°ê³¼ê°’ì„ ë§Œë“œì‹œì˜¤
     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
ë¯¼ì§€   40  70  90
ì„±ì²    70  90  70

2. ë§Œë“  ë°ì´í„°í”„ë ˆì„ì—ì„œ ì•„ë˜ì˜ ì‹œë¦¬ì¦ˆë¥¼ ë½‘ìœ¼ì‹œì˜¤ (loc, iloc ê°ê° ì‚¬ìš©)
ìˆ˜í•™    40
ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64
'''

exam_data = {'ìˆ˜í•™':[100, 40, 70], 'ì˜ì–´': [50, 70, 90], 'ìƒë¬¼': [50, 90, 70]}
df = pd.DataFrame(exam_data, index=['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² '])
print(df)
print()

print(df.loc['ë¯¼ì§€'])
print(df.iloc[1])

     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
ë¯¼ì§€   40  70  90
ì„±ì²    70  90  70

ìˆ˜í•™    40
ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64
ìˆ˜í•™    40
ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64

In [15]:
'''
ì•„ë˜ì˜ printë¬¸ì„ í•˜ë‚˜ì”© ì‹¤í–‰í•˜ë³´ê³ 
ìŠ¬ë¼ì´ì‹± ì‹œ locì™€ ilocì˜ ì°¨ì´ë¥¼ ì„œìˆ í•˜ì‹œì˜¤
'''
print(df.loc[:'ë¯¼ì§€'])
print(df.loc['ë¯¼ì§€':])
print(df.loc[['ì§„í˜„', 'ì„±ì² ']])
print()

print(df.iloc[1:])
print(df.iloc[:1])
print(df.iloc[[2, 1]])

     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
ë¯¼ì§€   40  70  90
    ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ë¯¼ì§€  40  70  90
ì„±ì²   70  90  70
     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
ì„±ì²    70  90  70

    ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ë¯¼ì§€  40  70  90
ì„±ì²   70  90  70
     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì§„í˜„  100  50  50
    ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
ì„±ì²   70  90  70
ë¯¼ì§€  40  70  90

#### ì—´ ì„ íƒ
> í–‰ê³¼ ë¹„êµ
- df.ìˆ˜í•™
- df['ìˆ˜í•™']
- df[['ìˆ˜í•™']]

ìœ„ì˜ 3ê°€ì§€ì˜ ì°¨ì´ì ì„ ì´í•´!!<br>
df.ìˆ˜í•™ê³¼ df['ìˆ˜í•™']ì€ ê°™ì€ ê²°ê³¼ê°’ìœ¼ë¡œ **ì‹œë¦¬ì¦ˆ ê°ì²´**ë¥¼ ë„ì¶œí•œë‹¤.<br>
df[['ìˆ˜í•™']]ë¡œ 2ì¤‘ ëŒ€ê´„í˜¸ë¥¼ ì‚¬ìš©í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ì•„ë‹Œ **ë°ì´í„°í”„ë ˆì„**ì„ ë°˜í™˜í•œë‹¤.

In [16]:
'''
ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í™œìš©í•˜ì—¬ ë¬¸ì œë¥¼ í’€ì–´ë³´ì‹œì˜¤
1. df.loc['ìˆ˜í•™']  ê°€ ì—ëŸ¬ê°€ ë°œìƒí•¨ì„ í™•ì¸í•˜ì‹œì˜¤
2. df.loc[:, ['ìˆ˜í•™']]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
3. df.iloc[:, 0]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
4. df.ìˆ˜í•™  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
5. df["ìˆ˜í•™"]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
6. df[["ìˆ˜í•™"]]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
7. forë¬¸ê³¼ print ë¬¸ì„ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê²°ê³¼ê°’ 4ì¤„ì„ ë§Œë“œì‹œì˜¤
100
40
70
30

8. df['ìˆ˜í•™', 'ì˜ì–´'] ê°€ ì—ëŸ¬ê°€ ë°œìƒí•¨ì„ í™•ì¸í•˜ì‹œì˜¤
9. df[['ìˆ˜í•™', 'ì˜ì–´']]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
10. df.loc[:, ['ìˆ˜í•™', 'ì˜ì–´']]  ì˜ ì‹¤í–‰ê°’ì„ ìƒê° í›„ í™•ì¸ í•˜ì‹œì˜¤
'''

import pandas as pd
exam_data = {'ìˆ˜í•™':[100, 40, 70, 30], 'ì˜ì–´': [50, 70, 90, 80], 'ìƒë¬¼': [50, 90, 70, 18], 'ë„ë•': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² ', 'ì§€ì‚°'])
df

     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•
ì§„í˜„  100  50  50  88
ë¯¼ì§€   40  70  90  68
ì„±ì²    70  90  70  58
ì§€ì‚°   30  80  18  77

In [17]:
df.loc['ìˆ˜í•™'] # keyerror : ì—†ë‹¤ê³

KeyError: 'ìˆ˜í•™'

In [18]:
df.ìˆ˜í•™

ì§„í˜„    100
ë¯¼ì§€     40
ì„±ì²      70
ì§€ì‚°     30
Name: ìˆ˜í•™, dtype: int64

In [19]:
df.ì§„í˜„

AttributeError: 'DataFrame' object has no attribute 'ì§„í˜„'

In [20]:
print(type(df["ìˆ˜í•™"]))
df["ìˆ˜í•™"] # sr ë°˜í™˜

<class 'pandas.core.series.Series'>

ì§„í˜„    100
ë¯¼ì§€     40
ì„±ì²      70
ì§€ì‚°     30
Name: ìˆ˜í•™, dtype: int64

In [21]:
print(type(df[["ìˆ˜í•™"]]))
df[["ìˆ˜í•™"]] # df ë°˜í™˜

<class 'pandas.core.frame.DataFrame'>

     ìˆ˜í•™
ì§„í˜„  100
ë¯¼ì§€   40
ì„±ì²    70
ì§€ì‚°   30

In [22]:
df.loc[:, ['ìˆ˜í•™']] # df

     ìˆ˜í•™
ì§„í˜„  100
ë¯¼ì§€   40
ì„±ì²    70
ì§€ì‚°   30

In [23]:
df.iloc[:, 0] # sr

ì§„í˜„    100
ë¯¼ì§€     40
ì„±ì²      70
ì§€ì‚°     30
Name: ìˆ˜í•™, dtype: int64

In [24]:
for i in range(len(df)):
    print(df.iloc[i,0])  # iterable : ë°˜ë³µ ê°€ëŠ¥í•œ
# for i in df.ìˆ˜í•™:
#     print(i)

100
40
70
30

In [25]:
df['ìˆ˜í•™', 'ì˜ì–´']

KeyError: ('ìˆ˜í•™', 'ì˜ì–´')

In [26]:
df[['ìˆ˜í•™', 'ì˜ì–´']]

     ìˆ˜í•™  ì˜ì–´
ì§„í˜„  100  50
ë¯¼ì§€   40  70
ì„±ì²    70  90
ì§€ì‚°   30  80

In [27]:
df.loc[:, ['ìˆ˜í•™', 'ì˜ì–´']]

     ìˆ˜í•™  ì˜ì–´
ì§„í˜„  100  50
ë¯¼ì§€   40  70
ì„±ì²    70  90
ì§€ì‚°   30  80

### UPDATE
- ë°ì´í„°í”„ë ˆì„ì„ ìˆ˜ì •í•˜ëŠ” ë°©ë²•
1. í–‰ê³¼ ì—´ì´ë¦„ì„ ë³€ê²½í•˜ëŠ” ë°©ë²•
2. ë°ì´í„°í”„ë ˆì„ì˜ ê°’ë“¤ì„ ë³€ê²½í•˜ëŠ” ë°©ë²•

#### INDEX NAME, COLUMNS NAME ë³€ê²½í•˜ê¸°
**df.index**<BR>
**df.columns**

In [28]:
# colì´ ë§ê¸° ë•Œë¬¸ì— rename(ì¼ë¶€ë³€ê²½)ë³´ë‹¨ colums ì „ì²´ ë³€ê²½ / ê°€ë…ì„±
# ***set_index -> ì£¼ë¡œ ë°ì´í„°ë¥¼ ì‹œê°„ìˆœìœ¼ë¡œ íŒŒì•…í•  ë•Œ ì‚¬ìš©í•˜ëŠ”ë“¯
# reset_index(), drop vs set_index
# indexëŠ” data(ê°ì²´?)ê°€ ì•„ë‹˜

# ë‹¤ì¤‘ê³µì‚°ì„±
# xë¥¼ ê°€ì§€ê³  yë¥¼ ì¶”ì¸¡í•˜ê¸° ë•Œë¬¸ì— ìƒê´€ì„± ë†’ì•„ì•¼ í•œë‹¤
# x ë¼ë¦¬ëŠ” ìƒê´€ì„±ì´ ë‚®ì•„ì•¼ í•œë‹¤ -> ë†’ì„ ê²½ìš° ê°™ì€ê±¸ ë‘ë²ˆ í•™ìŠµì‹œí‚¨ ê²°ê³¼ -> ì˜¤ë²„í”¼íŒ…

In [29]:
df = pd.DataFrame([[18, 'ë‚¨','ê¹€ì²œê³ '], [19, 'ì—¬', 'ìš¸ì‚°ê³ ']],
                 index=['ì§„í˜„', 'ë¯¼ì§€'],
                 columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

In [30]:
df.rename(columns={'ë‚˜ì´':'ì—°ë ¹'})
df.rename(index={'ì§„í˜„':'í•™ìƒ'}, inplace=True)
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
í•™ìƒ  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

In [31]:
'''
ìœ„ì˜ ë°ì´í„° í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ ê°’ì„ ë³€ê²½í•˜ì—¬ ì•„ë˜ì˜ ê²°ê³¼ê°’ì´ ë‚˜ì˜¤ê²Œ ë§Œë“¤ì.

     ë‚˜ì´ ì„±ë³„   í•™êµ
í•™ìƒ1  18  ë‚¨  ê¹€ì²œê³ 
í•™ìƒ2  19  ì—¬  ìš¸ì‚°ê³ 
'''

df.index = ["í•™ìƒ1", "í•™ìƒ2"]
df

     ë‚˜ì´ ì„±ë³„   í•™êµ
í•™ìƒ1  18  ë‚¨  ê¹€ì²œê³
í•™ìƒ2  19  ì—¬  ìš¸ì‚°ê³

In [32]:
'''
ìœ„ì˜ ë°ì´í„° í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ ê°’ì„ ë³€ê²½í•˜ì—¬ ì•„ë˜ì˜ ê²°ê³¼ê°’ì´ ë‚˜ì˜¤ê²Œ ë§Œë“¤ì.

     ì—°ë ¹ ë‚¨ë…€   ì†Œì†
í•™ìƒ1  18  ë‚¨  ê¹€ì²œê³ 
í•™ìƒ2  19  ì—¬  ìš¸ì‚°ê³ 
'''
df.columns = ["ì—°ë ¹", "ë‚¨ë…€", "ì†Œì†"]
df

     ì—°ë ¹ ë‚¨ë…€   ì†Œì†
í•™ìƒ1  18  ë‚¨  ê¹€ì²œê³
í•™ìƒ2  19  ì—¬  ìš¸ì‚°ê³

In [33]:
'''
renameì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì´ ì•„ë˜ì˜ ê²°ê³¼ ê°’ì´ ë‚˜ì˜¤ê²Œ ë§Œë“¤ì.

     ì—°ë ¹ ë‚¨ë…€   ì†Œì†
í•™ìƒ1  18  ë‚¨  ê¹€ì²œê³ 
í•™ìƒ2  19  ì—¬  ìš¸ì‚°ê³ 
'''

df = pd.DataFrame([[18, 'ë‚¨','ê¹€ì²œê³ '], [19, 'ì—¬', 'ìš¸ì‚°ê³ ']],
                 index=['ì§„í˜„', 'ë¯¼ì§€'],
                 columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])
print(df)

df.rename(columns={'ë‚˜ì´':'ì—°ë ¹', 'ì„±ë³„':'ë‚¨ë…€', 'í•™êµ':'ì†Œì†'}, inplace=True)
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

    ì—°ë ¹ ë‚¨ë…€   ì†Œì†
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

- **inplace=True** ë¥¼ ë„£ì§€ ì•Šìœ¼ë©´, ì›ë³¸ ê°ì²´ë¥¼ ì§ì ‘ ìˆ˜ì •í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ê°ì²´ë¥¼ ë°˜í™˜í•œë‹¤. ë”°ë¼ì„œ inplace=Trueë¥¼ ìŠì§€ë§ê³  ë„£ì–´ì¤˜ì•¼ í•¨.<br>
ì´ ë°©ë²•ì€ ì¼ë¶€ë¥¼ ì„ íƒí•˜ì—¬ ë³€ê²½í•  ìˆ˜ ìˆë‹¤ëŠ” ì¥ì ì´ ìˆì§€ë§Œ, ê°€ë…ì„±ì´ ì¢‹ì§€ ì•Šì•„ ì˜ ì“°ì§€ëŠ” ì•ŠìŒ.

In [34]:
'''
**ì¤‘ìš”**
df.renameì€ ì˜ ì“°ì§€ ì•ŠëŠ”ë‹¤.
df.columnsë¡œ ì£¼ë¡œ ë³€ê²½í•œë‹¤.
df.indexëŠ” ì‚¬ì‹¤ ë³€ê²½í•  ì¼ì´ ì—†ë‹¤. (ex_len(df.index))
'''
df.columns

Index(['ì—°ë ¹', 'ë‚¨ë…€', 'ì†Œì†'], dtype='object')

#### ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê¸°
##### set_index()
> ë”•ì…”ë„ˆë¦¬ë¡œ ë“¤ì–´ì˜¨ ì—´ì¤‘ì— ê·¸ ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê³  ì‹¶ì„ ë•Œ â†’ set_index() ë©”ì†Œë“œë¥¼ ì ìš©í•˜ì—¬ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•  ìˆ˜ ìˆë‹¤. ê·¸ëŸ¬ë©´ ì§€ì •ëœ ì¸ë±ìŠ¤ì— ë®ì–´ì“°ê¸°ê°€ ëœë‹¤.

In [35]:
'''
set_index()ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì´ ì•„ë˜ì˜ ê²°ê³¼ ê°’ì´ ë‚˜ì˜¤ê²Œ ë§Œë“¤ì.

   ì˜ì–´ ìƒë¬¼ ë„ë•
ìˆ˜í•™             
100  50  50  88
40   70  90  68
70   90  70  58
30   80  18  77
'''
exam_data = {'ìˆ˜í•™':[100, 40, 70, 30], 'ì˜ì–´': [50, 70, 90, 80], 'ìƒë¬¼': [50, 90, 70, 18], 'ë„ë•': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² ', 'ì§€ì‚°'])
df.set_index('ìˆ˜í•™', inplace=True) # == df.set_index(['ìˆ˜í•™'])
df

     ì˜ì–´  ìƒë¬¼  ë„ë•
ìˆ˜í•™
100  50  50  88
40   70  90  68
70   90  70  58
30   80  18  77

##### ë°ì´í„° í”„ë ˆì„ ìˆ˜ì •í•˜ê¸°
> ëŒ€ë¶€ë¶„ ì•„ë˜ì™€ ê°™ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê°€ì ¸ì™€ì„œ indexë¥¼ ì„¤ì •í•˜ê²Œ ëœë‹¤.

In [36]:
#data.loc[í–‰, ì—´]
#data.iloc[í–‰, ì—´]
'''
ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì´ ì•„ë˜ì˜ ê²°ê³¼ ê°’ì´ ë‚˜ì˜¤ê²Œ ë§Œë“¤ì.
1.
    ìˆ˜í•™ ì˜ì–´ ìƒë¬¼ ë„ë•
ì´ë¦„                 
ì§„í˜„  100  50  50  88
ë¯¼ì§€   40  70  90  68
ì„±ì²    70  90  70  58
ì§€ì‚°   30  80  18  77

2. ilocë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64

3. locì™€ ìŠ¬ë¼ì´ì‹±(:)ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
ì˜ì–´    70
ìƒë¬¼    90
ë„ë•    68
Name: ë¯¼ì§€, dtype: int64

4. locë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64
'''


import pandas as pd
import numpy as np
exam_data = {'ì´ë¦„': ['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² ', 'ì§€ì‚°'], 'ìˆ˜í•™':[100, 40, 70, 30], 'ì˜ì–´': [50, 70, 90, 80], 'ìƒë¬¼': [50, 90, 70, 18], 'ë„ë•': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data)
'''
   ì´ë¦„ ìˆ˜í•™ ì˜ì–´ ìƒë¬¼ ë„ë•
0  ì§„í˜„  100  50  50  88
1  ë¯¼ì§€   40  70  90  68
2  ì„±ì²    70  90  70  58
3  ì§€ì‚°   30  80  18  77
'''

'\n   ì´ë¦„ ìˆ˜í•™ ì˜ì–´ ìƒë¬¼ ë„ë•\n0  ì§„í˜„  100  50  50  88\n1  ë¯¼ì§€   40  70  90  68\n2  ì„±ì²    70  90  70  58\n3  ì§€ì‚°   30  80  18  77\n'

- df.iloc**[1, 1]**ê³¼ df.iloc**[1][1]**ì€ ê°™ì€ê²°ê³¼ê°’ì„ ì¶œë ¥

In [37]:
'''
df.iloc[1, 1]
df.iloc[1][1]
ilocë¥¼ í™œìš©í•˜ì—¬ ë°ì´í„° ê°’ë“¤ì„ ììœ ë¡­ê²Œ ë½‘ì•„ë³´ì.
'''
exam_data = {'ìˆ˜í•™':[100, 40, 70, 30], 'ì˜ì–´': [50, 70, 90, 80], 'ìƒë¬¼': [50, 90, 70, 18], 'ë„ë•': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data, index=['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² ', 'ì§€ì‚°'])
df

     ìˆ˜í•™  ì˜ì–´  ìƒë¬¼  ë„ë•
ì§„í˜„  100  50  50  88
ë¯¼ì§€   40  70  90  68
ì„±ì²    70  90  70  58
ì§€ì‚°   30  80  18  77

In [38]:
print(df.iloc[1, 1])
print(df.iloc[1][1])

70
70

In [39]:
df.iloc[1, 1:3]

ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64

In [40]:
df.loc['ë¯¼ì§€', 'ì˜ì–´':]

ì˜ì–´    70
ìƒë¬¼    90
ë„ë•    68
Name: ë¯¼ì§€, dtype: int64

In [41]:
df.loc['ë¯¼ì§€', 'ì˜ì–´':'ìƒë¬¼']

ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64

In [42]:
df.loc['ë¯¼ì§€', ['ì˜ì–´','ìƒë¬¼']]

ì˜ì–´    70
ìƒë¬¼    90
Name: ë¯¼ì§€, dtype: int64

In [43]:
df.iloc[-1, -2]

18

#### ì „ì¹˜( transpose() )
- ë°ì´í„°í”„ë ˆì„ì˜ í–‰ê³¼ ì—´ì„ ì„œë¡œ ë§ë°”ê¾¸ëŠ” ë°©ë²•
- ì„ í˜•ëŒ€ìˆ˜í•™ì˜ ì „ì¹˜í–‰ë ¬ê³¼ ê°™ì€ ê°œë…
- transpose() ë§¤ì†Œë“œë¥¼ í™œìš©í•˜ê±°ë‚˜ df.Tì™€ ê°™ì€ í´ë˜ìŠ¤ ì†ì„±ì„ í™œìš©í•  ìˆ˜ë„ ìˆë‹¤.
- ë‘ ë²ˆ ì‹¤í–‰ â†’ ìµœì´ˆì˜ ì›ë³¸ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ëŒì•„ì˜´

In [44]:
'''
ì „ì¹˜ë¥¼ ë‘ë²ˆí•˜ë©´ ë³¸ë˜ì˜ ê°’ìœ¼ë¡œ ëŒì•„ì˜´ì„ í™•ì¸í•˜ì.
'''
exam_data = {'ì´ë¦„': ['ì§„í˜„', 'ë¯¼ì§€', 'ì„±ì² '], 
             'ìˆ˜í•™':[100, 40, 70], 'ì˜ì–´': [50, 70, 90], 'ìƒë¬¼': [50, 90, 70]}
df = pd.DataFrame(exam_data)
df = df.transpose()
df

      0   1   2
ì´ë¦„   ì§„í˜„  ë¯¼ì§€  ì„±ì²
ìˆ˜í•™  100  40  70
ì˜ì–´   50  70  90
ìƒë¬¼   50  90  70

In [45]:
df = df.T
df

   ì´ë¦„   ìˆ˜í•™  ì˜ì–´  ìƒë¬¼
0  ì§„í˜„  100  50  50
1  ë¯¼ì§€   40  70  90
2  ì„±ì²    70  90  70

#### í–‰ì¸ë±ìŠ¤ ìˆ˜ì • ( reindex() )
- reindex() : í–‰ì¸ë±ìŠ¤ ì¬ë°°ì—´
- fill_value ì˜µì…˜ : NaNê°’ì´ ìˆëŠ” ê²½ìš° ì§€ì •ê°’ìœ¼ë¡œ ë³€ê²½
- reset_index() : ì¸ë±ìŠ¤ ì´ˆê¸°í™” ()<br>
'''
df.reset_index()                 : ì²˜ìŒìƒíƒœë¡œ ë³µê·€<br>
df.reset_index(drop=True)        : ì¸ë±ìŠ¤ ì‚­ì œ (ë¯¸ë³µê·€)
'''

In [46]:
'''
ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í™œìš©í•˜ì—¬ ë¬¸ì œë¥¼ í’€ì
1. reindexë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

2. fill_valueì˜µì…˜ì„ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

3. ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
   c0  c1  c2  c3  c4
a   1   4   7  10  13
b   2   5   8  11  14
c   3   6   9  12  15
d   0   0   0   0   0
e   0   0   0   0   0

'''


# reindex()
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [47]:
data_index = ['r0', 'r1', 'r2', 'r3', 'r4']
df = df.reindex(data_index)
print(df)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [48]:
df = df.reindex(data_index, fill_value=0)
df

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [49]:
df.index = ['a', 'b', 'c', 'd', 'e']
df.sort_index()

    c0   c1   c2    c3    c4
a  1.0  4.0  7.0  10.0  13.0
b  2.0  5.0  8.0  11.0  14.0
c  3.0  6.0  9.0  12.0  15.0
d  NaN  NaN  NaN   NaN   NaN
e  NaN  NaN  NaN   NaN   NaN

### ì •ë ¬
> Seriesì™€ DataFrameì˜ ì •ë ¬ì— ëŒ€í•´ ì•Œì•„ë³´ì. ê¸°ë³¸ì ìœ¼ë¡œ ì •ë ¬ í•  ê¸°ì¤€ì´ ìƒ‰ì¸ì¸ì§€, ê°ì²´ì¸ì§€ì— ë”°ë¼ ì‚¬ìš©í•˜ëŠ” ë©”ì„œë“œê°€ ë‹¤ë¥´ë‹¤.

#### ìƒ‰ì¸ ì •ë ¬
- rowë‚˜ colì˜ ìƒ‰ì¸ì¸ ê²½ìš°ëŠ” **sort_index** ë©”ì„œë“œë¥¼ ì‚¬ìš©í•œë‹¤. 
- ë””í´íŠ¸ ê°’ì€ ì˜¤ë¦„ì°¨ìˆœ. ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë¦¬í•˜ë ¤ë©´ â†’ **ascending=False**

In [50]:
'''
ì•„ë˜ì˜ ì‹œë¦¬ì¦ˆë¥¼ ì´ìš©í•˜ì.
1. sort_index()ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
a    3
b    1
c    2
d    0
dtype: int64

'''
# Seriesì˜ ìƒ‰ì¸ ì •ë ¬
data = pd.Series(range(4), index=['d', 'b', 'c', 'a'])
data

d    0
b    1
c    2
a    3
dtype: int64

In [51]:
data.sort_index()

a    3
b    1
c    2
d    0
dtype: int64

In [52]:
'''
1. sort_index()ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì.
       d  a  b  c
one    4  5  6  7
three  0  1  2  3


2. sort_index()ë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì.
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
'''

# DataFrame ì •ë ¬
# axisë¥¼ í™œìš©í•˜ì—¬ ê¸°ì¤€ ì¶•ì„ ì„¤ì •í•  ìˆ˜ ìˆë‹¤.
frame = pd.DataFrame(np.arange(8).reshape(2, 4), 
                    index=['three', 'one'],
                    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [53]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [54]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

#### ë°ì´í„°(ê°ì²´ ê°’) ì •ë ¬
> ê°ì²´ì˜ ê°’ì— ë”°ë¼ ì •ë ¬ì„ í•˜ë ¤ë©´ **sort_values** ë©”ì„œë“œë¥¼ ì‚¬ìš© â†’ ì´ ë•Œ ì •ë ¬ ì‹œ Series ê°ì²´ì—ì„œ ë¹„ì–´ìˆëŠ” ê°’ì€ ê¸°ë³¸ì ìœ¼ë¡œ ë§ˆì§€ë§‰ì— ìœ„ì¹˜ í•¨.

In [55]:
'''
ì•„ë˜ì˜ ì‹œë¦¬ì¦ˆë¥¼ í™œìš©í•œë‹¤
1. sort_valuesë¥¼ í™œìš©í•˜ì—¬ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
4   -1.0
3    3.0
0    4.0
1    9.0
2    NaN
5    NaN
dtype: float64
'''

# Seriesì˜ ê°ì²´ ê°’ì— ë”°ë¥¸ ì •ë ¬
# NaNì€ ê°€ì¥ ë§ˆì§€ë§‰ì— ìœ„ì¹˜í•œë‹¤
data = pd.Series([4, 9, np.nan, 3, -1, np.nan])
data.sort_values()

4   -1.0
3    3.0
0    4.0
1    9.0
2    NaN
5    NaN
dtype: float64

In [56]:
'''
ì•„ë˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ ì‚¬ìš©í•œë‹¤.
1. bë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì•„ë˜ì˜ ê°’ì„ ë§Œë“¤ì
   b  a
2 -3  1
3  2  0
0  4  0
1  7  1

2. ì•„ë˜ì™€ ê°™ì´ 'a'ë¥¼ ì •ë ¬í•œ í›„ì— 'b'ë¥¼ ì •ë ¬í•œë‹¤.
   b  a
1  7  1
2 -3  1
0  4  0
3  2  0
'''

frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 1, 0]})
frame

   b  a
0  4  0
1  7  1
2 -3  1
3  2  0

In [57]:
frame.sort_values(by='b')

   b  a
2 -3  1
3  2  0
0  4  0
1  7  1

In [58]:
frame.sort_values(by=['a', 'b'], ascending=False) #  ascending=False

   b  a
1  7  1
2 -3  1
0  4  0
3  2  0

### DELETE
##### drop() 
> ë°ì´í„°í”„ë ˆì„ì˜ í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œí•˜ëŠ” ëª…ë ¹
- í–‰ì‚­ì œ : axis=0(de)
- ì—´ì‚­ì œ ; axis=1
- ë‹¤ìˆ˜ì˜ í–‰ê³¼ ì—´ ì‚­ì œ ì‹œ listë¡œ ë„£ì–´ì¤€ë‹¤.
- ì›ë³¸ ê°ì²´ ë³€ê²½ ì‹œ inplace = Trueë¥¼ ì¶”ê°€í•´ ì¤€ë‹¤.

In [59]:
df = pd.DataFrame([[18, 'ë‚¨','ê¹€ì²œê³ '], [19, 'ì—¬', 'ìš¸ì‚°ê³ ']],
                 index=['ì§„í˜„', 'ë¯¼ì§€'],
                 columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì§„í˜„  18  ë‚¨  ê¹€ì²œê³
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

In [60]:
df.drop('ì§„í˜„', inplace=True) # default : axis=0 # inplace
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
ë¯¼ì§€  19  ì—¬  ìš¸ì‚°ê³

In [61]:
df.drop(['ë‚˜ì´', 'í•™êµ'], axis=1, inplace=True)
# KeyError: "['ë‚˜ì´' 'í•™êµ'] not found in axis"
df

   ì„±ë³„
ë¯¼ì§€  ì—¬