- *CRUD*
- Series vs Data frame

# Pandas
> **Why?** 판다스의 시리즈나 데이터프레임을 사용하는 이유는 구조화된 데이터 형식으로 만들기 위함이고, 즉 **데이터를 분석이 가능한 형태**로 정리하는 것이다.

## Series
- 1차원 배열의 형태로 인덱스와 데이터 값은 일대일 대응
- Index of Series → 데이터 값의 위치를 나타낸다

### 목표
1. Dict → Series 변환
2. List → Series 변환
3. Tuple → Series 변환

#### Dict → Series
> pandas.Series

In [1]:
import pandas as pd

In [2]:
# basic
dic = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dic)
sr

a    1
b    2
c    3
dtype: int64

In [3]:
'''
아래의 딕셔너리를 시리즈로 변환하자
dict_data = {"코로나 지역": ["서울", "대구"], "해외 확진자":[12, 2], "국내 확진자":[222, 22]}
'''
dict_data = {'[코로나 지역]':["서울", "대구"], '해외 확진자':[12, 2], '국내 확진자':[222, 22]}
sr = pd.Series(dict_data)
sr # value → list도 넣을 수 있다 / key → 안되는듯

[코로나 지역]     [서울, 대구]
해외 확진자        [12, 2]
국내 확진자      [222, 22]
dtype: object

In [4]:
'''
아래의 명령어를 활용하여, 위의 시리즈의 인덱스와 벨류값을 자유롭게 프린트해보자.
> Series객체.index
> Series객체.values
'''
print(sr.index)
print(sr.values)
print(sr.values[0])
print(sr[0])
print(sr[0][0])

Index(['[코로나 지역]', '해외 확진자', '국내 확진자'], dtype='object')
[list(['서울', '대구']) list([12, 2]) list([222, 22])]
['서울', '대구']
['서울', '대구']
서울

In [5]:
'''
확진자의 총 합을 구해보자
힌트_ sr.values[1]
'''
# sum(sr.values[1]) + sum(sr.values[2]) 
# pd.Series([]).sum()
pd.Series(sr.values[1]).sum() + pd.Series(sr.values[2]).sum()

258

*Point*
- ***Dict***
- Key값 → Series의 Index
- Value값 →  Series의 Data

#### List -> Series
> pandas.Series

In [6]:
# basic
list_data = ["영우", "글로벌", "러닝"]
sr = pd.Series(list_data, index=["하나", "둘", "셋"])
sr

하나     영우
둘     글로벌
셋      러닝
dtype: object

In [7]:
'''
아래의 리스트를 시리즈로 변환하자
list_data = ["영우", "글로벌", "러닝"]
'''
list_data = ["영우", "글로벌", "러닝"]
sr = pd.Series(list_data, index=["하나", "둘", "셋"])
sr

하나     영우
둘     글로벌
셋      러닝
dtype: object

In [8]:
'''
아래의 명령어를 활용하여, 위의 시리즈의 인덱스와 벨류값을 자유롭게 프린트해보자.
> Series객체.index
> Series객체.values
> Series객체.index[0]
> Series객체.values[1]
'''
print(sr.index)
print(sr.values)
print(sr[:1]) # sr[:, 1] ValueError: key of type tuple not found and not a MultiIndex

Index(['하나', '둘', '셋'], dtype='object')
['영우' '글로벌' '러닝']
하나    영우
dtype: object

In [9]:
'''
아래의 리스트를 시리즈로 변환하자
list_data = ["2021-05-19", "CU", "543,440,000", "-230,000"]
'''
list_data = ["2021-05-19", "CU", "543,440,000", "-230,000"]
sr = pd.Series(list_data)
sr

0     2021-05-19
1             CU
2    543,440,000
3       -230,000
dtype: object

*Point*
- 별도의 인덱스를 정의하지 않으면 자동으로 인덱스가 지정됨

In [10]:
'''
index 인자를 사용하여 인덱스를 지정해 보자
'''
sr = pd.Series(list_data, index=["날짜", "편의점", "순이익", "순지출"])
sr

날짜      2021-05-19
편의점             CU
순이익    543,440,000
순지출       -230,000
dtype: object

#### Tuple -> Series
> pandas.Series

In [11]:
'''
튜플은 확인만
'''
tup_data = ('파이썬', '2021-01-01', '남', True)
print(tup_data, "\n")

sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

('파이썬', '2021-01-01', '남', True)

이름             파이썬
생년월일    2021-01-01
성별               남
학생여부          True
dtype: object

In [12]:
print(sr.index)
print(sr.values)

Index(['이름', '생년월일', '성별', '학생여부'], dtype='object')
['파이썬' '2021-01-01' '남' True]

*Point*
- index에 숫자가 아닌 값도 넣을 수 있다
- 딕셔너리, 리스트, 튜플이 시리즈로 바뀔 때의 차이점
- index 인자의 유무에 대한 차이점

#### 데이터 추출 
1. 정수형 위치 인덱스를 사용하는 방식
2. 인덱스 이름(라벨)을 사용하는 방식

In [13]:
tup_data = ('파이썬', '2021-01-01', '남', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)
'''
하나만 뽑고 싶을 땐 하나만 적는다.
'''
print()
print(sr[0])
print(sr['이름'])

이름             파이썬
생년월일    2021-01-01
성별               남
학생여부          True
dtype: object

파이썬
파이썬

In [14]:
'''
여러개를 뽑고 싶을 때는 리스트를 사용한다.
'''
print(sr[[0, 1]])
print()
print(sr[["이름", "성별"]])

이름             파이썬
생년월일    2021-01-01
dtype: object

이름    파이썬
성별      남
dtype: object

In [15]:
'''
1번째 아래 전체를 뽑고 싶다.
파이썬의 슬라이싱과 같은 방법 사용
'''
print(sr[1:])
print()
print(sr[:1])

생년월일    2021-01-01
성별               남
학생여부          True
dtype: object

이름    파이썬
dtype: object

In [16]:
'''
위와의 차이점 인지
'''
print(sr["생년월일":])
print()
print(sr[:"생년월일"])

생년월일    2021-01-01
성별               남
학생여부          True
dtype: object

이름             파이썬
생년월일    2021-01-01
dtype: object