#주어진 문제들을 최소 1시간 안에 모두 풀수 있게 만들어야 한다.

목표 : 파이썬의 익숙함을 올리자.

## max()을 사용하지 않고 max() 구현하기(for 문 사용)

In [1]:
data=[10, 7, 2, 4, 6]
max_v=0
for i in data:
    if max_v < i:
        max_v=i
#     else:
#         continue
        
print(max_v)

10

## min()을 사용하지 않고 min() 구현하기(for 문 사용)

In [4]:
data=[2, 7, 1, 2, 4, 6]
min_v=data[0]
for i in data:
    if min_v > i:
        min_v=i
        
print(min_v)

1

## sum()을 사용하지 않고 sum()  구현하기(for 문 사용)

In [5]:
data=[2, 7, 2, 4, 6]
sum_v=0
for i in data:
    sum_v += i
    
print(sum_v)

21

## 평균값 구현하기(for 문 사용)

In [9]:
data=[2, 7, 2, 4, 6]
mean_v=0
n=len(data)
sum_v=0
for i in data:
    sum_v+=i
mean_v=sum_v/n
# /=
    
print(mean_v)

mean_v2=eval('+'.join(data))/n
    
print(mean_v2)

4.2

TypeError: sequence item 0: expected str instance, int found

여기까지 2분 정도 풀 수 있으면 좋다.

## dictionary 구축하기 (for, if)
다음과 같은 리스트가 있을 때 각각의 요소의 개수를 value 값으로 갖는 딕셔너리를 만드세요.

book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']


예시 출력)<br>
{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

##### 위의 문제를 아래의 3가지 방법으로 딕셔너리를 각각 만들어 봅시다.
- for와 if만 사용
- count()를 사용
- get() 사용

In [14]:
# for , if 만 사용
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book = {}
for i in book_title:
    if i not in dict_book:
        dict_book[i]=1
    else:
        dict_book[i]+=1
# print(book_title.count('the'))

print(dict_book)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [19]:
# for문과 count 만 사용
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book2={}

for i in book_title:
    # set(book_title)
    dict_book2[i]=book_title.count(i) #[i] ㅋㅋ

print(dict_book2)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [20]:
# for문과 get()을 사용 // count?는 없는 값일 경우 error
book_title = ['great', 'expectations', 'the', 'adventures', 'of', 'sherlock', 'holmes', 'the', 'great', 'gasby', 'hamlet', 'adventures', 'of', 'huckleberry', 'fin']
dict_book3={}
for i in book_title:
    dict_book3[i]=dict_book3.get(i, 0) + 1 # 없는 경우 0을 넣어 새로운 값으로 dict에 추가

print(dict_book3)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

## 조건문과 반복문, break를 활용하여 다음 headlines 리스트의 요소들을 130자 크기의 하나의 문자열로 이어 붙이는 코드를 작성하세요.
```
headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
```

In [30]:
'''
각각의 문자열을 붙인다. 그리고 130개로 붙이면 된다.
'''

headlines = [
  "Local Bear Eaten by Man",
  "Legislature Announces New Laws",
  "Peasant Discovers Violence Inherent in System",
  "Cat Rescues Fireman Stuck in Tree",
  "Brave Knight Runs Away",
  "Papperbok Review: Totally Triffic"
]
# result = ''

result = ' '.join(headlines)[:130]

print(result)
print(len(result))

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in
130

## 가로세로 높이가 같은 상자들이 쌓여있는 방이 있다. 방이 오른쪽으로 90도 회전하여 상자들이 중력의 영향을 받아 낙하한다고 할 때, 낙차가 가장 큰 상자를 구하여 낙차를 리턴하자.
- 중력은 회전이 완료된 후에 적용된다.
- 상자들은 모두 한쪽 변면에 붙여진 상태로 쌓여 2차원의 형태를 이루며 벽에서 떨어져서 쌓인 상자는 없다.(일직선으로 떨어진다.)
- 방의 가로길이와 세로길이는 9이다.
- 상자의 길이는 가로세로 1이다
- 입력값의 인덱스가 상자가 쌓여진 높이이다.
- 입력값 : [7, 4, 2, 0, 0, 6, 0, 7, 0]
- 출력값 : 7

In [3]:
'''
중력문제 작성
'''
pass

## 나이가 입력된 리스트가 있을때, 조건문과 반복문, continue를 활용하여 20살 이상일때만 "성인입니다"라는 출력을 하는 코드를 작성하세요.

예시 출력)

23 살은 성인입니다.<br>
30 살은 성인입니다.<br>
25 살은 성인입니다.<br>
31 살은 성인입니다.<br>

In [34]:
def ovr_20(list):
    for i in list:
        if i > 20: 
            print(f'{i}살은 성인입니다.')

ovr_20([8,13,15,19,20,21,24,30])

21살은 성인입니다.
24살은 성인입니다.
30살은 성인입니다.

## python 프린트 방법 3가지
### 초창기 파이썬
```
print('%s %s' % ('a', 'b'))
# a b

print('%i %s' % (2, 'two'))
# 2 two
```
<br>

### pyformat
```
print('{} {}'.format('one', 'two'))
# one two

print('{1} {0}'.format('one', 'two'))
# two one
 ```
<br>

### f-string 
```
a, b = ('one', 'two')
print(f'{a} {b}')
# one two
```

## 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시작가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하세요.
```
Key Name         |  Description
---------------    ----------------------------
opening_price    |   최근 24시간 내 시작 거래금액
closing_price    |   최근 24시간 내 마지막 거래금액
min_price        |   최근 24시간 내 최저 거래금액
max_price        |   최근 24시간 내 최고 거래금액
```

In [4]:
# 힌트
import requests
url = 'https://api.bithumb.com/public/ticker/btc'
data = { k: float(v) for k, v in requests.get(url).json()['data'].items() }
# print(data)

change_price = data['max_price'] - data['min_price']
if data['max_price'] < data['opening_price']+change_price:
    print('상승장')
else:
    print('하락장')

print("opening_price", data['opening_price'])
print("max_price", data['max_price'])
print("change_price", change_price)
print("today_price", data['opening_price']+change_price)

상승장
opening_price 38451000.0
max_price 38850000.0
change_price 1379000.0
today_price 39830000.0

In [38]:
# 힌트
import requests
url = 'https://api.bithumb.com/public/ticker/btc'
data = { k: float(v) for k, v in requests.get(url).json()['data'].items() }
data

{'opening_price': 38451000.0,
 'closing_price': 37715000.0,
 'min_price': 37600000.0,
 'max_price': 38850000.0,
 'units_traded': 1777.99670547,
 'acc_trade_value': 67899452889.0811,
 'prev_closing_price': 38430000.0,
 'units_traded_24H': 2438.38287559,
 'acc_trade_value_24H': 93419497575.2693,
 'fluctate_24H': -1377000.0,
 'fluctate_rate_24H': -3.52,
 'date': 1626248080146.0}

## 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다. 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하세요.

```
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
```

In [20]:
'''
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
'''
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
fruit = 0
not_fruit = 0
# print(len(basket_items))
for i in basket_items:
#     print(i)
    if i in fruits:
        fruit += basket_items[i]
    else:
        not_fruit += basket_items[i]

print('과일은 {}개이고, {}개는 과일이 아닙니다.'.format(fruit, not_fruit))

과일은 23개이고, 11개는 과일이 아닙니다.

## 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다. 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성하세요.

In [2]:
'''
예시 입력)
Alice Betty Catherine Davis
예시 출력)
Alice B. C. Davis
'''
result=[]
def eng_name(fullname):
    words = fullname.split()
    print(words)
    for word in words:
        if word != words[0] and word != words[-1]:
            result.append(word[0].upper()+'.')
        else:
            result.append(word)
    print(' '.join(result))
  
#   print(result)

eng_name('Alice Betty Catherine Davis')

['Alice', 'Betty', 'Catherine', 'Davis']
Alice B. C. Davis

## 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

1.   항목 추가
2.   항목 추가

In [ ]:
'''
예시 출력)
    1 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
    2 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
    3 월
Mo Tu We Th Fr Sa Su 
 1 2 3 4 5 6 7 
 8 9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
'''
#달력 정답
#답안지임.

calendar = {
    1:31, 2:28, 3:31, 4:30, 5:31, 6:30,
    7:31, 8:31, 9:30, 10:31, 11:30, 12:31
}
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']
for month, days in calendar.items():
  print(f'{month:10}월') #우측정렬
  #print(f'{month:<10}월')#좌측정렬
  #print(f'{month:^10}월')#중앙정렬
  for w in weeks:
    print(f'{w}',end=" ")
  print('')
  for i in range(1, days+1):
    print(f'{i:2}', end=" ")
    if i % 7 == 0:
      print('')

         1월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          2월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
         3월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          4월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30          5월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          6월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30          7월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          8월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31          9월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30         10월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31         11월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30         12월
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

## 사용자가 입력한 문자열중 가운데 글자를 출력하세요.(단, 문자열이 짝수라면 가운데 두글자를 출력하세요.)

In [ ]:
'''
예시 입력)
abc
예시 출력)
b
'''
def mid(stra):
  pass

  

mid('abcdde')
mid('abcde')

c d
c

'''
방금 푼 문제를 참고하여, 아래의 문제를 푸시오.

https://programmers.co.kr/learn/courses/30/lessons/12903
'''

## 백준 10808

python 내장함수 ord(), chr() 관련 공부를 구글로 진행 후에 관련 함수를 사용하여 아래의 문제를 풀어보자.

https://www.acmicpc.net/problem/10808

In [ ]:
'''
백준 10808
풀이
'''
data = input()

apple
1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 2 0 0 0 0 0 0 0 0 0 0

## 백준 2577

https://www.acmicpc.net/problem/2577

In [ ]:
'''
백준 2577
풀이
'''
A = int(input())
B = int(input())
C = int(input())

## 2021 카카오 신입공채 1차 코딩테스트 1번 문제(정답률 50%)
https://programmers.co.kr/learn/courses/30/lessons/72410

> 몰입해서 풀어보시길 바랍니다. 쉬운 문제인 만큼 정답 구글링 확인 금지.

## 2021 카카오 신입공채 1차 코딩테스트 2번 문제(정답률 25%)
https://programmers.co.kr/learn/courses/30/lessons/72411

> 이러한 유형은 많이 출제됩니다. 유형 치고는 쉬운 문제에 속합니다. 정답 구글링 확인 금지.

## 리스트의 값들을 하나씩 뽑아서 비교하기(deque)

파이썬의 가장 큰 문제는 [1,2,3] 이 있을때, [2, 3]으로 만든다면, 리스트의 모든 값이 한칸씩 앞으로 움직이는 과정을 거치게 된다.
<br><br>
따라서 리스트가 아주 크다면, 상당히 오래 걸리고, 자원소모가 심하다.
<br><br>
따라서 우리는 append() ,pop() 같은걸 사용하지 않고 deque 를 사용한다
<br>

    import collections
    deq = collections.deque()

<br>
deque 는 스택과 큐 방식을 둘다 사용해 출구가 두개이다.

- pop
- popleft
- append
- appendleft


위의 내용을 참고하여 아래의 문제를 풀어보자.

https://programmers.co.kr/learn/courses/30/lessons/42583